
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MOB_GET_PICKING_IDS_X_PICKING_DE_PRODUCTO]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[MOB_GET_PICKING_IDS_X_PICKING_DE_PRODUCTO]
GO

CREATE     PROCEDURE [dbo].[MOB_GET_PICKING_IDS_X_PICKING_DE_PRODUCTO]
	@USUARIO		AS VARCHAR(30),
	@TIPOPICKING	AS NUMERIC(1),
	@CLIENTE		AS VARCHAR(30),
	@VIAJEID		AS VARCHAR(30),
	@PRODUCTO_ID	AS VARCHAR(30),
	@POSICION_COD	AS VARCHAR(45),
	@PALLET			AS VARCHAR(100),
	@RUTA			AS VARCHAR(100)
AS
	

BEGIN
		SELECT 		SP.PICKING_ID, SP.CANTIDAD
		FROM 		PICKING SP 
					INNER JOIN PRIORIDAD_VIAJE SPV
					ON(SPV.VIAJE_ID=SP.VIAJE_ID)
					INNER JOIN PRODUCTO PROD
					ON(SP.CLIENTE_ID=PROD.CLIENTE_ID AND SP.PRODUCTO_ID=PROD.PRODUCTO_ID)
		WHERE 		
					SP.CANT_CONFIRMADA IS NULL
					AND (DBO.VERIFICA_PALLET_FINAL(SP.POSICION_COD,SP.VIAJE_ID,SP.RUTA, SP.PROP1)=@TIPOPICKING)
					AND SP.USUARIO=Ltrim(Rtrim(Upper(@Usuario)))
					AND SP.CLIENTE_ID=@CLIENTE
					AND SP.VIAJE_ID = @VIAJEID
					AND @PALLET = SP.PROP1
					AND @RUTA=SP.RUTA
					AND @POSICION_COD= SP.POSICION_COD
					AND @PRODUCTO_ID = SP.PRODUCTO_ID
					AND SP.FECHA_INICIO IS NOT NULL
		
		
END
