

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PICKING_WAVE]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PICKING_WAVE]
GO

CREATE PROCEDURE [dbo].[PICKING_WAVE]
@USUARIO		AS VARCHAR(50),
@NAVECALLE		AS VARCHAR(50),
@VEHICULO_ID	AS VARCHAR(50)
AS
BEGIN

	DECLARE @VERIFICACION 	AS NUMERIC(20)
	DECLARE @VIAJEID 			AS VARCHAR(30)
	DECLARE @PRODUCTO_ID		AS VARCHAR(50)
	DECLARE @DESCRIPCION		AS VARCHAR(200)
	DECLARE @QTY				AS NUMERIC(20,5)
	DECLARE @POSICION_COD	AS VARCHAR(45)
	DECLARE @PALLET			AS VARCHAR(100)
	DECLARE @RUTA				AS VARCHAR(100)
	DECLARE @UNIDAD_ID		AS VARCHAR(5)
	DECLARE @TQUERY			AS VARCHAR(1)
	DECLARE @PICKING_ID		AS INT


	SELECT @VIAJEID	

END
