
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SALTO_PICKINGVH]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SALTO_PICKINGVH]
GO

CREATE                      PROCEDURE [dbo].[SALTO_PICKINGVH]
	@USUARIO 			AS VARCHAR(30),
	@VIAJEID 			AS VARCHAR(100),
	@PRODUCTO_ID		AS VARCHAR(50),
	@POSICION_COD		AS VARCHAR(45),
	@PALLET				AS VARCHAR(100),
	@RUTA				AS VARCHAR(100)
AS
BEGIN

	DECLARE @MAX AS INT 
	DECLARE @SALTO AS INT
	DECLARE @XSQL AS VARCHAR(100)
	DECLARE @CLIENTE_ID	AS VARCHAR(20)
	DECLARE @VUSR AS VARCHAR(100)

	SELECT 	@MAX=MAX(SALTO_PICKING) +1
	FROM 	PICKING
	WHERE	LTRIM(RTRIM(UPPER(VIAJE_ID)))=LTRIM(RTRIM(UPPER(@VIAJEID)))

	SELECT	DISTINCT 
			@CLIENTE_ID=CLIENTE_ID 
	FROM 	PICKING P2
	WHERE	USUARIO=LTRIM(RTRIM(UPPER(@USUARIO)))
			AND LTRIM(RTRIM(UPPER(VIAJE_ID)))=LTRIM(RTRIM(UPPER(@VIAJEID)))
			AND PRODUCTO_ID=LTRIM(RTRIM(UPPER(@PRODUCTO_ID)))
			AND POSICION_COD=LTRIM(RTRIM(UPPER(@POSICION_COD)))
			AND PROP1=LTRIM(RTRIM(UPPER(@PALLET)))
			AND LTRIM(RTRIM(UPPER(RUTA)))=LTRIM(RTRIM(UPPER(@RUTA)))
											
								
	IF @CLIENTE_ID='VITALCAN'
	BEGIN
		
		SET @VUSR=@USUARIO
	END
	ELSE
	BEGIN
		SET @VUSR=NULL
	END

	UPDATE 	PICKING SET FECHA_INICIO=NULL, PALLET_PICKING=NULL, SALTO_PICKING=@MAX, USUARIO=@VUSR,
			VEHICULO_ID=NULL
	WHERE 	USUARIO=LTRIM(RTRIM(UPPER(@USUARIO)))
			AND LTRIM(RTRIM(UPPER(VIAJE_ID)))=LTRIM(RTRIM(UPPER(@VIAJEID)))
			AND PRODUCTO_ID=LTRIM(RTRIM(UPPER(@PRODUCTO_ID)))
			AND POSICION_COD=LTRIM(RTRIM(UPPER(@POSICION_COD)))
			AND PROP1=LTRIM(RTRIM(UPPER(@PALLET)))
			AND LTRIM(RTRIM(UPPER(RUTA)))=LTRIM(RTRIM(UPPER(@RUTA)))
			AND PICKING_ID NOT IN (	SELECT 	PICKING_ID 
									FROM 	PICKING P2
									WHERE	USUARIO=LTRIM(RTRIM(UPPER(@USUARIO)))
											AND LTRIM(RTRIM(UPPER(VIAJE_ID)))=LTRIM(RTRIM(UPPER(@VIAJEID)))
											AND PRODUCTO_ID=LTRIM(RTRIM(UPPER(@PRODUCTO_ID)))
											AND POSICION_COD=LTRIM(RTRIM(UPPER(@POSICION_COD)))
											AND PROP1=LTRIM(RTRIM(UPPER(@PALLET)))
											AND LTRIM(RTRIM(UPPER(RUTA)))=LTRIM(RTRIM(UPPER(@RUTA)))
											AND FECHA_INICIO IS NOT NULL AND FECHA_FIN IS NOT NULL AND PALLET_PICKING IS NOT NULL
											AND (PICKING.PICKING_ID=P2.PICKING_ID)
			)

	IF @@ERROR <>0
		BEGIN
			PRINT 'OCURRIO UN ERROR AL SALTAR EL PICKING'
			RETURN (99)
		END
END
