
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TAREAS_PICKINGNEW]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[TAREAS_PICKINGNEW]
GO

CREATE            PROCEDURE [dbo].[TAREAS_PICKINGNEW] 
	@VIAJE_ID 		AS VARCHAR(100),
	@USUARIO		AS VARCHAR(50),
	@NAVECALLE		AS VARCHAR(50),
	@VEHICULO_ID	AS VARCHAR(50),
	@PALLET_I		AS VARCHAR(30),
	@RUTA_I			AS VARCHAR(100),
	@PALLETCOMPLETO	AS NUMERIC(10),
	@CLIENTE		AS VARCHAR(20)=NULL
AS
BEGIN
	DECLARE @VERIFICACION 	AS NUMERIC(20)
	DECLARE @VIAJEID 		AS VARCHAR(30)
	DECLARE @PRODUCTO_ID	AS VARCHAR(50)
	DECLARE @DESCRIPCION	AS VARCHAR(200)
	DECLARE @QTY			AS NUMERIC(20,5)
	DECLARE @POSICION_COD	AS VARCHAR(45)
	DECLARE @PALLET			AS VARCHAR(100)
	DECLARE @RUTA			AS VARCHAR(100)
	DECLARE @UNIDAD_ID		AS VARCHAR(5)
	DECLARE @TQUERY			AS VARCHAR(1)
	DECLARE @PICKING_ID		AS INT
	DECLARE @NAVE			AS VARCHAR(45)
	DECLARE @CALLE			AS VARCHAR(45)
	DECLARE @MYPOS			AS INTEGER
	----------------------------------------------------------------
	DECLARE @UNIDADPICK		AS VARCHAR(50)
	DECLARE @QTY_PICK		AS FLOAT
	DECLARE @CLIENTE_ID		AS VARCHAR(15)
	DECLARE @VAL_COD_EGR	AS CHAR(1)
	DECLARE @HIJO 			AS NUMERIC(20,0)
	--DESARMO LA NAVE Y LA CALLE
	
	BEGIN
		SET @MYPOS=CharIndex('-',@NAVECALLE,1)
		IF	@MYPOS>0
		BEGIN
			SET @NAVE=SUBSTRING(@NAVECALLE, 1, @MYPOS-1)
			SET @CALLE=SUBSTRING(@NAVECALLE, @MYPOS +1, LEN(@NAVECALLE))	
		END
		ELSE
		BEGIN
			SET @NAVE=@NAVECALLE
			SET @CALLE=@NAVECALLE
		END
	END
	
	SET @VIAJE_ID='0'
	--VEO SI SE TERMINARON LOS PICKING DE ESA CALLE
	IF @VIAJE_ID<>'0'
	BEGIN
		SELECT @VERIFICACION= DBO.VERIFICA_FIN_CALLE(@VIAJE_ID, @NAVE,@CALLE,@VEHICULO_ID)
		IF @VERIFICACION=0
		BEGIN
			RAISERROR('2',16,1)
			Return(99)
		END	
		SELECT @VERIFICACION= DBO.VERIFICA_PREPICKING(@VIAJE_ID)
		IF @VERIFICACION=1	
		BEGIN
			RAISERROR ('3', 16, 1)
			Return(99)
		END
	END
 	IF @VIAJE_ID='0' 
	BEGIN
		SET @TQUERY='1'
	END
	ELSE	
	BEGIN
		IF (@VIAJE_ID IS NOT NULL) AND (@RUTA_I IS NOT NULL)	
		BEGIN
			SET @TQUERY='2'
		END
		ELSE 
		BEGIN
			IF (@VIAJE_ID IS NOT NULL) AND (@RUTA_I IS NULL) 
			BEGIN
				SET @TQUERY='3'
			END
		END --FIN TQUERY
	END
	IF @TQUERY='1'
	BEGIN
			SELECT 	TOP 1	
					@VIAJEID=SP.VIAJE_ID, @PRODUCTO_ID=SP.PRODUCTO_ID, 
					@DESCRIPCION=SP.DESCRIPCION, @QTY=SUM(SP.CANTIDAD),@POSICION_COD= SP.POSICION_COD,
					@PALLET = SP.PROP1,@RUTA=SP.RUTA,@UNIDAD_ID=PROD.UNIDAD_ID, @CLIENTE_ID=SP.CLIENTE_ID,
					@VAL_COD_EGR=PROD.VAL_COD_EGR, @HIJO=SP.HIJO
			FROM 	PICKING SP
					INNER JOIN PRIORIDAD_VIAJE SPV
					ON(LTRIM(RTRIM(UPPER(SPV.VIAJE_ID)))=LTRIM(RTRIM(UPPER(SP.VIAJE_ID))))
					INNER JOIN PRODUCTO PROD
					ON(PROD.CLIENTE_ID=SP.CLIENTE_ID AND PROD.PRODUCTO_ID=SP.PRODUCTO_ID)
					LEFT JOIN POSICION POS ON(SP.POSICION_COD=POS.POSICION_COD)
					INNER JOIN RL_SYS_CLIENTE_USUARIO SU ON(SP.CLIENTE_ID=SU.CLIENTE_ID)
			WHERE 	SPV.PRIORIDAD = ( SELECT 	MIN(PRIORIDAD) FROM	PRIORIDAD_VIAJE	WHERE	LTRIM(RTRIM(UPPER(VIAJE_ID)))=LTRIM(RTRIM(UPPER(SP.VIAJE_ID))))								
					AND (DBO.VERIFICA_PALLET_FINAL(SP.POSICION_COD,SP.VIAJE_ID,SP.RUTA, SP.PROP1)=@PALLETCOMPLETO)
					AND	SP.FECHA_INICIO IS NULL
					AND	SP.FECHA_FIN IS NULL			
					AND	SP.USUARIO IS NULL
					AND SP.FLG_PALLET_HOMBRE = SP.TRANSF_TERMINADA -- Agregado Privitera Maximiliano 06/01/2010
					AND	SP.CANT_CONFIRMADA IS NULL 
					AND SU.USUARIO_ID=UPPER(LTRIM(RTRIM(@USUARIO)))
					AND	SP.VIAJE_ID IN 	(SELECT VIAJE_ID FROM  RL_VIAJE_USUARIO WHERE 	LTRIM(RTRIM(UPPER(VIAJE_ID)))=LTRIM(RTRIM(UPPER(SP.VIAJE_ID))) AND	LTRIM(RTRIM(UPPER(USUARIO_ID))) =LTRIM(RTRIM(UPPER(@USUARIO)))
					AND SP.NAVE_COD	IN(	SELECT 	NAVE_COD
										FROM 	NAVE N INNER JOIN RL_USUARIO_NAVE RLNU
												ON(N.NAVE_ID=RLNU.NAVE_ID)
										WHERE	N.NAVE_COD=SP.NAVE_COD
												AND LTRIM(RTRIM(UPPER(RLNU.USUARIO_ID)))=LTRIM(RTRIM(UPPER(@USUARIO))))
											)
					AND SP.FIN_PICKING <>'2'
					AND SP.POSICION_COD IN(	SELECT 	POSICION_COD
											FROM 	RL_VEHICULO_POSICION V INNER JOIN POSICION P ON(V.POSICION_ID=P.POSICION_ID)
													INNER JOIN CALLE_NAVE CN ON(P.CALLE_ID=CN.CALLE_ID)
													INNER JOIN NAVE NAV ON(P.NAVE_ID=NAV.NAVE_ID)
											WHERE 	VEHICULO_ID=@VEHICULO_ID
													--AND ((@NAVECALLE IS NULL) OR (CN.CALLE_COD=@NAVECALLE))
													AND ((@CALLE IS NULL) OR (CN.CALLE_COD=@CALLE))
											UNION 
											SELECT 	NAVE_COD AS POSICION_COD
											FROM	RL_VEHICULO_POSICION V INNER JOIN NAVE N2
													ON(V.NAVE_ID=N2.NAVE_ID)
											WHERE	VEHICULO_ID=@VEHICULO_ID
													--AND N2.NAVE_COD=@NAVECALLE
													AND N2.NAVE_COD=@NAVE
											)
					AND ((@CLIENTE IS NULL) OR(SP.CLIENTE_ID=@CLIENTE))
			GROUP BY	SP.VIAJE_ID, SP.PRODUCTO_ID,SP.DESCRIPCION, SP.RUTA,SP.POSICION_COD,SP.TIPO_CAJA,SP.PROP1,PROD.UNIDAD_ID,SPV.PRIORIDAD,POS.ORDEN_PICKING
						, SP.CLIENTE_ID, PROD.VAL_COD_EGR, SP.HIJO, SP.SALTO_PICKING
			ORDER BY	SP.SALTO_PICKING, SPV.PRIORIDAD ASC,CAST(SP.TIPO_CAJA AS NUMERIC(10,1)) DESC, POS.ORDEN_PICKING, SP.POSICION_COD ASC, SP.PRODUCTO_ID


			UPDATE 	PICKING SET FECHA_INICIO = GETDATE(),USUARIO=UPPER(LTRIM(RTRIM(@USUARIO))),PALLET_PICKING=@PALLET_I,
					VEHICULO_ID=@VEHICULO_ID, PALLET_COMPLETO=@PALLETCOMPLETO
			WHERE  	LTRIM(RTRIM(UPPER(VIAJE_ID)))=LTRIM(RTRIM(UPPER(@VIAJEID )))
							AND FLG_PALLET_HOMBRE = TRANSF_TERMINADA -- Agregado Privitera Maximiliano 06/01/2010
							AND LTRIM(RTRIM(UPPER(PRODUCTO_ID)))=LTRIM(RTRIM(UPPER(@PRODUCTO_ID)))
							AND LTRIM(RTRIM(UPPER(DESCRIPCION)))=LTRIM(RTRIM(UPPER(@DESCRIPCION)))
							AND LTRIM(RTRIM(UPPER(POSICION_COD)))=LTRIM(RTRIM(UPPER(@POSICION_COD)))
							AND LTRIM(RTRIM(UPPER(PROP1))) = LTRIM(RTRIM(UPPER(@PALLET)))
							AND LTRIM(RTRIM(UPPER(RUTA)))=LTRIM(RTRIM(UPPER(@RUTA)))

			IF @PRODUCTO_ID IS NOT NULL
			BEGIN
					SELECT 	@VIAJEID AS VIAJE_ID,@PRODUCTO_ID AS PRODUCTO_ID, @DESCRIPCION AS DESCRIPCION, 
							@QTY AS QTY, @POSICION_COD AS POSICION_COD, @PALLET AS PALLET,@RUTA AS RUTA,
							@UNIDAD_ID AS UNIDAD_ID,@CLIENTE_ID AS CLIENTE_ID, @VAL_COD_EGR  AS VAL_COD_EGR, @HIJO AS STRCOD
			END
	END
	IF @TQUERY='2'	BEGIN
			SELECT 	TOP 1	
					@VIAJEID=SP.VIAJE_ID, @PRODUCTO_ID=SP.PRODUCTO_ID, 
					@DESCRIPCION=SP.DESCRIPCION, @QTY=SUM(SP.CANTIDAD),@POSICION_COD= SP.POSICION_COD,
					@PALLET = SP.PROP1,@RUTA=SP.RUTA,@UNIDAD_ID=PROD.UNIDAD_ID, @CLIENTE_ID=SP.CLIENTE_ID,@HIJO=SP.HIJO,
					@VAL_COD_EGR=PROD.VAL_COD_EGR
			FROM 	PICKING SP
					INNER JOIN PRIORIDAD_VIAJE SPV
					ON(LTRIM(RTRIM(UPPER(SPV.VIAJE_ID)))=LTRIM(RTRIM(UPPER(SP.VIAJE_ID))))
					INNER JOIN PRODUCTO PROD
					ON(PROD.CLIENTE_ID=SP.CLIENTE_ID AND PROD.PRODUCTO_ID=SP.PRODUCTO_ID)
					LEFT JOIN POSICION POS ON(SP.POSICION_COD=POS.POSICION_COD)
			WHERE 	SPV.PRIORIDAD = ( SELECT 	MIN(PRIORIDAD) FROM	PRIORIDAD_VIAJE	WHERE	LTRIM(RTRIM(UPPER(VIAJE_ID)))=LTRIM(RTRIM(UPPER(SP.VIAJE_ID))))								
					AND (DBO.VERIFICA_PALLET_FINAL(SP.POSICION_COD,SP.VIAJE_ID,SP.RUTA, SP.PROP1)=@PALLETCOMPLETO)
					AND	SP.FECHA_INICIO IS NULL
					AND	SP.FECHA_FIN IS NULL			
					AND SP.FLG_PALLET_HOMBRE = SP.TRANSF_TERMINADA -- Agregado Privitera Maximiliano 06/01/2010
					AND	SP.CANT_CONFIRMADA IS NULL 
					AND	SP.VIAJE_ID IN (SELECT 	VIAJE_ID FROM  RL_VIAJE_USUARIO WHERE 	LTRIM(RTRIM(UPPER(VIAJE_ID)))=LTRIM(RTRIM(UPPER(SP.VIAJE_ID))) AND	LTRIM(RTRIM(UPPER(USUARIO_ID))) =LTRIM(RTRIM(UPPER(@USUARIO)))
					AND SP.NAVE_COD	IN(	SELECT 	NAVE_COD
											FROM 	NAVE N INNER JOIN RL_USUARIO_NAVE RLNU
													ON(N.NAVE_ID=RLNU.NAVE_ID)
											WHERE	N.NAVE_COD=SP.NAVE_COD
													AND LTRIM(RTRIM(UPPER(RLNU.USUARIO_ID)))=LTRIM(RTRIM(UPPER(@USUARIO))))
											)
					AND SP.FIN_PICKING <>'2'
					AND SP.POSICION_COD IN(	SELECT 	POSICION_COD
												FROM 	RL_VEHICULO_POSICION V INNER JOIN POSICION P ON(V.POSICION_ID=P.POSICION_ID)
														INNER JOIN CALLE_NAVE CN ON(P.CALLE_ID=CN.CALLE_ID)
														INNER JOIN NAVE NAV ON(P.NAVE_ID=NAV.NAVE_ID)
												WHERE 	VEHICULO_ID=@VEHICULO_ID
														AND ((@NAVECALLE IS NULL) OR (CN.CALLE_COD=@NAVECALLE))
														
												UNION 
												SELECT 	NAVE_COD AS POSICION_COD
												FROM	RL_VEHICULO_POSICION V INNER JOIN NAVE N2
														ON(V.NAVE_ID=N2.NAVE_ID)
												WHERE	VEHICULO_ID=@VEHICULO_ID
														AND N2.NAVE_COD=@NAVECALLE
											)
					AND SP.VIAJE_ID=@VIAJE_ID
					--AND SP.RUTA=@RUTA_I
					AND SP.SALTO_PICKING = ( 
											   SELECT 	MIN(ISNULL(SALTO_PICKING,0))
				 							    FROM 		PICKING 
											    WHERE 	VIAJE_ID=SP.VIAJE_ID
												 		AND FECHA_INICIO IS NULL
														AND FECHA_FIN IS NULL
														AND CANT_CONFIRMADA IS NULL
														AND RUTA=SP.RUTA
														AND PICKING.POSICION_COD IN(	SELECT 	POSICION_COD
																						FROM 	RL_VEHICULO_POSICION V INNER JOIN POSICION P ON(V.POSICION_ID=P.POSICION_ID)
																								INNER JOIN CALLE_NAVE CN ON(P.CALLE_ID=CN.CALLE_ID)
																								INNER JOIN NAVE NAV ON(P.NAVE_ID=NAV.NAVE_ID)
																						WHERE 	VEHICULO_ID=@VEHICULO_ID AND CN.CALLE_COD=@CALLE AND NAV.NAVE_COD=@NAVE)
												) 
			GROUP BY	SP.VIAJE_ID, SP.PRODUCTO_ID,SP.DESCRIPCION, SP.RUTA,SP.POSICION_COD,SP.TIPO_CAJA,SP.PROP1,PROD.UNIDAD_ID,SPV.PRIORIDAD,POS.ORDEN_PICKING
						, SP.CLIENTE_ID, PROD.VAL_COD_EGR, SP.HIJO
			ORDER BY	SPV.PRIORIDAD ASC,CAST(SP.TIPO_CAJA AS NUMERIC(10,1)) DESC, POS.ORDEN_PICKING, SP.POSICION_COD ASC

		
			UPDATE 	PICKING SET FECHA_INICIO = GETDATE(),USUARIO=UPPER(LTRIM(RTRIM(@USUARIO))),PALLET_PICKING=@PALLET_I,
					VEHICULO_ID=@VEHICULO_ID, PALLET_COMPLETO=@PALLETCOMPLETO
			WHERE  	LTRIM(RTRIM(UPPER(VIAJE_ID)))=LTRIM(RTRIM(UPPER(@VIAJEID))) AND PRODUCTO_ID=@PRODUCTO_ID 
					AND DESCRIPCION=@DESCRIPCION AND POSICION_COD=@POSICION_COD
					AND FLG_PALLET_HOMBRE = TRANSF_TERMINADA -- Agregado Privitera Maximiliano 06/01/2010
					AND PROP1 = @PALLET AND LTRIM(RTRIM(UPPER(RUTA)))=LTRIM(RTRIM(UPPER(@RUTA)))
					AND FECHA_INICIO IS NULL AND FECHA_FIN IS NULL AND CANT_CONFIRMADA IS NULL AND PALLET_PICKING IS NULL
	
			IF @PRODUCTO_ID IS NOT NULL 
			BEGIN
					SELECT 	@VIAJEID AS VIAJE_ID,@PRODUCTO_ID AS PRODUCTO_ID, @DESCRIPCION AS DESCRIPCION, 
							@QTY AS QTY, @POSICION_COD AS POSICION_COD, @PALLET AS PALLET,@RUTA AS RUTA,
							@UNIDAD_ID AS UNIDAD_ID,@CLIENTE_ID AS CLIENTE_ID, @VAL_COD_EGR  AS VAL_COD_EGR, @HIJO AS STRCOD
			END
						
		END --FIN TQUERY=2
	IF @TQUERY='3' BEGIN
			SELECT 	TOP 1	
					@VIAJEID=SP.VIAJE_ID, @PRODUCTO_ID=SP.PRODUCTO_ID, 
					@DESCRIPCION=SP.DESCRIPCION, @QTY=SUM(SP.CANTIDAD),@POSICION_COD= SP.POSICION_COD,
					@PALLET = SP.PROP1,@RUTA=SP.RUTA,@UNIDAD_ID=PROD.UNIDAD_ID, @CLIENTE_ID=SP.CLIENTE_ID, @HIJO=SP.HIJO,
					@VAL_COD_EGR=PROD.VAL_COD_EGR
			FROM 	PICKING SP
					INNER JOIN PRIORIDAD_VIAJE SPV
					ON(LTRIM(RTRIM(UPPER(SPV.VIAJE_ID)))=LTRIM(RTRIM(UPPER(SP.VIAJE_ID))))
					INNER JOIN PRODUCTO PROD
					ON(PROD.CLIENTE_ID=SP.CLIENTE_ID AND PROD.PRODUCTO_ID=SP.PRODUCTO_ID)
					LEFT JOIN POSICION POS ON(SP.POSICION_COD=POS.POSICION_COD)
			WHERE 	SPV.PRIORIDAD = ( SELECT 	MIN(PRIORIDAD) FROM	PRIORIDAD_VIAJE	WHERE	LTRIM(RTRIM(UPPER(VIAJE_ID)))=LTRIM(RTRIM(UPPER(SP.VIAJE_ID))))								
					AND (DBO.VERIFICA_PALLET_FINAL(SP.POSICION_COD,SP.VIAJE_ID,SP.RUTA, SP.PROP1)=@PALLETCOMPLETO)
					AND	SP.FECHA_INICIO IS NULL
					AND	SP.FECHA_FIN IS NULL			
					AND	SP.CANT_CONFIRMADA IS NULL 
					AND SP.FLG_PALLET_HOMBRE = SP.TRANSF_TERMINADA -- Agregado Privitera Maximiliano 06/01/2010
					AND	SP.VIAJE_ID 	IN(  SELECT 	VIAJE_ID FROM  RL_VIAJE_USUARIO WHERE 	LTRIM(RTRIM(UPPER(VIAJE_ID)))=LTRIM(RTRIM(UPPER(SP.VIAJE_ID))) AND	LTRIM(RTRIM(UPPER(USUARIO_ID))) =LTRIM(RTRIM(UPPER(@USUARIO)))
					AND SP.NAVE_COD	IN(	SELECT 	NAVE_COD
											FROM 	NAVE N INNER JOIN RL_USUARIO_NAVE RLNU
													ON(N.NAVE_ID=RLNU.NAVE_ID)
											WHERE	N.NAVE_COD=SP.NAVE_COD
													AND LTRIM(RTRIM(UPPER(RLNU.USUARIO_ID)))=LTRIM(RTRIM(UPPER(@USUARIO))))
											)
					AND SP.FIN_PICKING <>'2'
					AND SP.POSICION_COD IN(	SELECT 	POSICION_COD
												FROM 	RL_VEHICULO_POSICION V INNER JOIN POSICION P ON(V.POSICION_ID=P.POSICION_ID)
														INNER JOIN CALLE_NAVE CN ON(P.CALLE_ID=CN.CALLE_ID)
														INNER JOIN NAVE NAV ON(P.NAVE_ID=NAV.NAVE_ID)
												WHERE 	VEHICULO_ID=@VEHICULO_ID
														AND ((@NAVECALLE IS NULL) OR (CN.CALLE_COD=@NAVECALLE))
														
												UNION 
												SELECT 	NAVE_COD AS POSICION_COD
												FROM	RL_VEHICULO_POSICION V INNER JOIN NAVE N2
														ON(V.NAVE_ID=N2.NAVE_ID)
												WHERE	VEHICULO_ID=@VEHICULO_ID
														AND N2.NAVE_COD=@NAVECALLE
											)
					AND SP.VIAJE_ID=@VIAJE_ID
					AND SP.SALTO_PICKING = ( SELECT 	MIN(ISNULL(SALTO_PICKING,0))
											 FROM 		PICKING 
											 WHERE 		VIAJE_ID=SP.VIAJE_ID
												 		AND FECHA_INICIO IS NULL
														AND FECHA_FIN IS NULL
														AND CANT_CONFIRMADA IS NULL)
			GROUP BY	SP.VIAJE_ID, SP.PRODUCTO_ID,SP.DESCRIPCION, SP.RUTA,SP.POSICION_COD,SP.TIPO_CAJA,SP.PROP1,PROD.UNIDAD_ID,SPV.PRIORIDAD,POS.ORDEN_PICKING
						, SP.CLIENTE_ID, PROD.VAL_COD_EGR, SP.HIJO
			ORDER BY	SPV.PRIORIDAD ASC,CAST(SP.TIPO_CAJA AS NUMERIC(10,1)) DESC, POS.ORDEN_PICKING, SP.POSICION_COD ASC
		
			UPDATE 	PICKING SET FECHA_INICIO = GETDATE(),USUARIO=UPPER(LTRIM(RTRIM(@USUARIO))),PALLET_PICKING=@PALLET_I,
					VEHICULO_ID=@VEHICULO_ID, PALLET_COMPLETO=@PALLETCOMPLETO
			WHERE  	LTRIM(RTRIM(UPPER(VIAJE_ID)))=LTRIM(RTRIM(UPPER(@VIAJEID))) AND PRODUCTO_ID=@PRODUCTO_ID 
					AND DESCRIPCION=@DESCRIPCION AND POSICION_COD=@POSICION_COD
					AND FLG_PALLET_HOMBRE = TRANSF_TERMINADA -- Agregado Privitera Maximiliano 06/01/2010
					AND PROP1 = @PALLET AND LTRIM(RTRIM(UPPER(RUTA)))=LTRIM(RTRIM(UPPER(@RUTA)))
					AND FECHA_INICIO IS NULL AND FECHA_FIN IS NULL AND CANT_CONFIRMADA IS NULL AND PALLET_PICKING IS NULL

			IF @PRODUCTO_ID IS NOT NULL 
			BEGIN
				SELECT 	@VIAJEID AS VIAJE_ID,@PRODUCTO_ID AS PRODUCTO_ID, @DESCRIPCION AS DESCRIPCION, 
						@QTY AS QTY, @POSICION_COD AS POSICION_COD, @PALLET AS PALLET,@RUTA AS RUTA,
						@UNIDAD_ID AS UNIDAD_ID,@CLIENTE_ID AS CLIENTE_ID, @VAL_COD_EGR  AS VAL_COD_EGR, @HIJO AS STRCOD
			END
	END --FIN TQUERY3
END-- FIN PROCEDURE
