/****** Object:  StoredProcedure [dbo].[AUDITORIA_HIST_INSERT_PROP]    Script Date: 10/24/2013 13:08:25 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AUDITORIA_HIST_INSERT_PROP]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[AUDITORIA_HIST_INSERT_PROP]
GO


CREATE       PROCEDURE [dbo].[AUDITORIA_HIST_INSERT_PROP]
	@vPREFIJO	AS NUMERIC(2,0)	OUTPUT,
	@vRL_ID 	AS NUMERIC(20,0)	OUTPUT,
	@vOLD		AS VARCHAR(50)	OUTPUT,
	@vNEW     	AS VARCHAR(50)	OUTPUT,
	@vQTY		AS NUMERIC(25,5)	OUTPUT,
	@DOC		AS NUMERIC(20,0)	OUTPUT,
	@NRO_LINEA	AS NUMERIC(10,0)	OUTPUT

AS
BEGIN

	Declare 	@Usuario			as varchar(30)
	Declare @Terminal			as varchar(100)
	DECLARE @FLAG				AS CHAR (1)

	SELECT @FLAG = AUDITABLE FROM PARAMETROS_AUDITORIA WHERE TIPO_AUDITORIA_ID =  @vPREFIJO

	SELECT 	@Usuario=Usuario_id FROM #Temp_Usuario_Loggin
	SELECT  @Terminal=Host_Name()

	IF @FLAG = '1'
		BEGIN

			--FECHA VENCIMIENTO
			IF @vPREFIJO = 7 
				BEGIN
					--NEGATIVO
					INSERT INTO AUDITORIA_HISTORICOS 
					SELECT	@vPREFIJO
						,DD.CLIENTE_ID
						,D.NRO_DESPACHO_IMPORTACION
						,NULL
						,DD.DOCUMENTO_ID
						,DD.NRO_LINEA
						,RL.DOC_TRANS_ID
						,RL.NRO_LINEA_TRANS
						,DD.PRODUCTO_ID
						,DD.NRO_SERIE
						,DD.NRO_SERIE_PADRE
						,RL.EST_MERC_ID
						,RL.CAT_LOG_ID
						,DD.NRO_BULTO
						,DD.NRO_LOTE 
						--,CAST(@vOLD AS DATETIME)
						,CONVERT(char(20),@vOLD,103)
						,DD.NRO_DESPACHO
						,DD.NRO_PARTIDA
						,DD.UNIDAD_ID
						,DD.PESO 
						,DD.UNIDAD_PESO
						,DD.VOLUMEN 
						,DD.UNIDAD_VOLUMEN
						,DD.BUSC_INDIVIDUAL
						,DD.TIE_IN 
						,DD.NRO_TIE_IN_PADRE
						,DD.NRO_TIE_IN
						,DD.ITEM_OK 
						,RL.CAT_LOG_ID_FINAL
						,DD.MONEDA_ID
						,DD.COSTO
						,DD.PROP1
						,DD.PROP2
						,DD.PROP3
						,DD.LARGO
						,DD.ALTO 
						,DD.ANCHO
						,DD.VOLUMEN_UNITARIO
						,DD.PESO_UNITARIO
						,@vQTY * -1
						,@vRL_ID
						,@Usuario
						,@Terminal
						,GETDATE()
						,NULL
						,NULL
						,RL.NAVE_ACTUAL
						,RL.POSICION_ACTUAL
					FROM 	DOCUMENTO D
						INNER JOIN DET_DOCUMENTO DD ON (D.DOCUMENTO_ID = DD.DOCUMENTO_ID)
						INNER JOIN DET_DOCUMENTO_TRANSACCION DDT ON (DD.DOCUMENTO_ID = DDT.DOCUMENTO_ID AND DD.NRO_LINEA = DDT. NRO_LINEA_DOC)
						INNER JOIN RL_DET_DOC_TRANS_POSICION RL ON (DDT.DOC_TRANS_ID = RL.DOC_TRANS_ID AND DDT.NRO_LINEA_TRANS = RL.NRO_LINEA_TRANS)
					WHERE 	DD.DOCUMENTO_ID = @DOC AND DD.NRO_LINEA = @NRO_LINEA
				
					--POSITIVO
					INSERT INTO AUDITORIA_HISTORICOS 
					SELECT	@vPREFIJO
						,DD.CLIENTE_ID
						,D.NRO_DESPACHO_IMPORTACION
						,NULL
						,DD.DOCUMENTO_ID
						,DD.NRO_LINEA
						,RL.DOC_TRANS_ID
						,RL.NRO_LINEA_TRANS
						,DD.PRODUCTO_ID
						,DD.NRO_SERIE
						,DD.NRO_SERIE_PADRE
						,RL.EST_MERC_ID
						,RL.CAT_LOG_ID
						,DD.NRO_BULTO
						,DD.NRO_LOTE 
						--,CAST(@vNEW AS DATETIME)
						,CONVERT(char(20),@vNEW,103)
						,DD.NRO_DESPACHO
						,DD.NRO_PARTIDA
						,DD.UNIDAD_ID
						,DD.PESO 
						,DD.UNIDAD_PESO
						,DD.VOLUMEN 
						,DD.UNIDAD_VOLUMEN
						,DD.BUSC_INDIVIDUAL
						,DD.TIE_IN 
						,DD.NRO_TIE_IN_PADRE
						,DD.NRO_TIE_IN
						,DD.ITEM_OK 
						,RL.CAT_LOG_ID_FINAL
						,DD.MONEDA_ID
						,DD.COSTO
						,DD.PROP1
						,DD.PROP2
						,DD.PROP3
						,DD.LARGO
						,DD.ALTO 
						,DD.ANCHO
						,DD.VOLUMEN_UNITARIO
						,DD.PESO_UNITARIO
						,@vQTY
						,@vRL_ID
						,@Usuario
						,@Terminal
						,DATEADD(SS,1,GETDATE())
						,NULL
						,NULL
						,RL.NAVE_ACTUAL
						,RL.POSICION_ACTUAL
					FROM 	DOCUMENTO D
						INNER JOIN DET_DOCUMENTO DD ON (D.DOCUMENTO_ID = DD.DOCUMENTO_ID)
						INNER JOIN DET_DOCUMENTO_TRANSACCION DDT ON (DD.DOCUMENTO_ID = DDT.DOCUMENTO_ID AND DD.NRO_LINEA = DDT. NRO_LINEA_DOC)
						INNER JOIN RL_DET_DOC_TRANS_POSICION RL ON (DDT.DOC_TRANS_ID = RL.DOC_TRANS_ID AND DDT.NRO_LINEA_TRANS = RL.NRO_LINEA_TRANS)
					WHERE 	DD.DOCUMENTO_ID = @DOC AND DD.NRO_LINEA = @NRO_LINEA
				END 
		
			--NRO.PALLET
			IF @vPREFIJO = 8
				BEGIN
					--NEGATIVO
					INSERT INTO AUDITORIA_HISTORICOS 
					SELECT	@vPREFIJO
						,DD.CLIENTE_ID
						,D.NRO_DESPACHO_IMPORTACION
						,NULL
						,DD.DOCUMENTO_ID
						,DD.NRO_LINEA
						,RL.DOC_TRANS_ID
						,RL.NRO_LINEA_TRANS
						,DD.PRODUCTO_ID
						,DD.NRO_SERIE
						,DD.NRO_SERIE_PADRE
						,RL.EST_MERC_ID
						,RL.CAT_LOG_ID
						,DD.NRO_BULTO
						,DD.NRO_LOTE 
						,DD.FECHA_VENCIMIENTO
						,DD.NRO_DESPACHO
						,DD.NRO_PARTIDA
						,DD.UNIDAD_ID
						,DD.PESO 
						,DD.UNIDAD_PESO
						,DD.VOLUMEN 
						,DD.UNIDAD_VOLUMEN
						,DD.BUSC_INDIVIDUAL
						,DD.TIE_IN 
						,DD.NRO_TIE_IN_PADRE
						,DD.NRO_TIE_IN
						,DD.ITEM_OK 
						,RL.CAT_LOG_ID_FINAL
						,DD.MONEDA_ID
						,DD.COSTO
						,@vOLD
						,DD.PROP2
						,DD.PROP3
						,DD.LARGO
						,DD.ALTO 
						,DD.ANCHO
						,DD.VOLUMEN_UNITARIO
						,DD.PESO_UNITARIO
						,@vQTY * -1
						,@vRL_ID
						,@Usuario
						,@Terminal
						,GETDATE()
						,NULL
						,NULL
						,RL.NAVE_ACTUAL
						,RL.POSICION_ACTUAL
					FROM 	DOCUMENTO D
						INNER JOIN DET_DOCUMENTO DD ON (D.DOCUMENTO_ID = DD.DOCUMENTO_ID)
						INNER JOIN DET_DOCUMENTO_TRANSACCION DDT ON (DD.DOCUMENTO_ID = DDT.DOCUMENTO_ID AND DD.NRO_LINEA = DDT. NRO_LINEA_DOC)
						INNER JOIN RL_DET_DOC_TRANS_POSICION RL ON (DDT.DOC_TRANS_ID = RL.DOC_TRANS_ID AND DDT.NRO_LINEA_TRANS = RL.NRO_LINEA_TRANS)
					WHERE 	DD.DOCUMENTO_ID = @DOC AND DD.NRO_LINEA = @NRO_LINEA
				
					--POSITIVO
					INSERT INTO AUDITORIA_HISTORICOS 
					SELECT	@vPREFIJO
						,DD.CLIENTE_ID
						,D.NRO_DESPACHO_IMPORTACION
						,NULL
						,DD.DOCUMENTO_ID
						,DD.NRO_LINEA
						,RL.DOC_TRANS_ID
						,RL.NRO_LINEA_TRANS
						,DD.PRODUCTO_ID
						,DD.NRO_SERIE
						,DD.NRO_SERIE_PADRE
						,RL.EST_MERC_ID
						,RL.CAT_LOG_ID
						,DD.NRO_BULTO
						,DD.NRO_LOTE 
						,DD.FECHA_VENCIMIENTO
						,DD.NRO_DESPACHO
						,DD.NRO_PARTIDA
						,DD.UNIDAD_ID
						,DD.PESO 
						,DD.UNIDAD_PESO
						,DD.VOLUMEN 
						,DD.UNIDAD_VOLUMEN
						,DD.BUSC_INDIVIDUAL
						,DD.TIE_IN 
						,DD.NRO_TIE_IN_PADRE
						,DD.NRO_TIE_IN
						,DD.ITEM_OK 
						,RL.CAT_LOG_ID_FINAL
						,DD.MONEDA_ID
						,DD.COSTO
						,@vNEW
						,DD.PROP2
						,DD.PROP3
						,DD.LARGO
						,DD.ALTO 
						,DD.ANCHO
						,DD.VOLUMEN_UNITARIO
						,DD.PESO_UNITARIO
						,@vQTY
						,@vRL_ID
						,@Usuario
						,@Terminal
						,DATEADD(SS,1,GETDATE())
						,NULL
						,NULL
						,RL.NAVE_ACTUAL
						,RL.POSICION_ACTUAL
					FROM 	DOCUMENTO D
						INNER JOIN DET_DOCUMENTO DD ON (D.DOCUMENTO_ID = DD.DOCUMENTO_ID)
						INNER JOIN DET_DOCUMENTO_TRANSACCION DDT ON (DD.DOCUMENTO_ID = DDT.DOCUMENTO_ID AND DD.NRO_LINEA = DDT. NRO_LINEA_DOC)
						INNER JOIN RL_DET_DOC_TRANS_POSICION RL ON (DDT.DOC_TRANS_ID = RL.DOC_TRANS_ID AND DDT.NRO_LINEA_TRANS = RL.NRO_LINEA_TRANS)
					WHERE 	DD.DOCUMENTO_ID = @DOC AND DD.NRO_LINEA = @NRO_LINEA
				END 
		
			--NRO.LOTE
			IF @vPREFIJO = 9 
				BEGIN
					--NEGATIVO
					INSERT INTO AUDITORIA_HISTORICOS 
					SELECT	@vPREFIJO
						,DD.CLIENTE_ID
						,D.NRO_DESPACHO_IMPORTACION
						,NULL
						,DD.DOCUMENTO_ID
						,DD.NRO_LINEA
						,RL.DOC_TRANS_ID
						,RL.NRO_LINEA_TRANS
						,DD.PRODUCTO_ID
						,DD.NRO_SERIE
						,DD.NRO_SERIE_PADRE
						,RL.EST_MERC_ID
						,RL.CAT_LOG_ID
						,DD.NRO_BULTO
						,@vOLD
						,DD.FECHA_VENCIMIENTO
						,DD.NRO_DESPACHO
						,DD.NRO_PARTIDA
						,DD.UNIDAD_ID
						,DD.PESO 
						,DD.UNIDAD_PESO
						,DD.VOLUMEN 
						,DD.UNIDAD_VOLUMEN
						,DD.BUSC_INDIVIDUAL
						,DD.TIE_IN 
						,DD.NRO_TIE_IN_PADRE
						,DD.NRO_TIE_IN
						,DD.ITEM_OK 
						,RL.CAT_LOG_ID_FINAL
						,DD.MONEDA_ID
						,DD.COSTO
						,DD.PROP1
						,DD.PROP2
						,DD.PROP3
						,DD.LARGO
						,DD.ALTO 
						,DD.ANCHO
						,DD.VOLUMEN_UNITARIO
						,DD.PESO_UNITARIO
						,@vQTY * -1
						,@vRL_ID
						,@Usuario
						,@Terminal
						,GETDATE()
						,NULL
						,NULL
						,RL.NAVE_ACTUAL
						,RL.POSICION_ACTUAL
					FROM 	DOCUMENTO D
						INNER JOIN DET_DOCUMENTO DD ON (D.DOCUMENTO_ID = DD.DOCUMENTO_ID)
						INNER JOIN DET_DOCUMENTO_TRANSACCION DDT ON (DD.DOCUMENTO_ID = DDT.DOCUMENTO_ID AND DD.NRO_LINEA = DDT. NRO_LINEA_DOC)
						INNER JOIN RL_DET_DOC_TRANS_POSICION RL ON (DDT.DOC_TRANS_ID = RL.DOC_TRANS_ID AND DDT.NRO_LINEA_TRANS = RL.NRO_LINEA_TRANS)
					WHERE 	DD.DOCUMENTO_ID = @DOC AND DD.NRO_LINEA = @NRO_LINEA
				
					--POSITIVO
					INSERT INTO AUDITORIA_HISTORICOS 
					SELECT	@vPREFIJO
						,DD.CLIENTE_ID
						,D.NRO_DESPACHO_IMPORTACION
						,NULL
						,DD.DOCUMENTO_ID
						,DD.NRO_LINEA
						,RL.DOC_TRANS_ID
						,RL.NRO_LINEA_TRANS
						,DD.PRODUCTO_ID
						,DD.NRO_SERIE
						,DD.NRO_SERIE_PADRE
						,RL.EST_MERC_ID
						,RL.CAT_LOG_ID
						,DD.NRO_BULTO
						,@vNEW 
						,DD.FECHA_VENCIMIENTO
						,DD.NRO_DESPACHO
		
						,DD.NRO_PARTIDA
						,DD.UNIDAD_ID
						,DD.PESO 
						,DD.UNIDAD_PESO
						,DD.VOLUMEN 
						,DD.UNIDAD_VOLUMEN
						,DD.BUSC_INDIVIDUAL
						,DD.TIE_IN 
						,DD.NRO_TIE_IN_PADRE
						,DD.NRO_TIE_IN
						,DD.ITEM_OK 
						,RL.CAT_LOG_ID_FINAL
						,DD.MONEDA_ID
						,DD.COSTO
						,DD.PROP1
						,DD.PROP2
						,DD.PROP3
						,DD.LARGO
						,DD.ALTO 
						,DD.ANCHO
						,DD.VOLUMEN_UNITARIO
						,DD.PESO_UNITARIO
						,@vQTY
						,@vRL_ID
						,@Usuario
						,@Terminal
						,DATEADD(SS,1,GETDATE())
						,NULL
						,NULL
						,RL.NAVE_ACTUAL
						,RL.POSICION_ACTUAL
					FROM 	DOCUMENTO D
						INNER JOIN DET_DOCUMENTO DD ON (D.DOCUMENTO_ID = DD.DOCUMENTO_ID)
						INNER JOIN DET_DOCUMENTO_TRANSACCION DDT ON (DD.DOCUMENTO_ID = DDT.DOCUMENTO_ID AND DD.NRO_LINEA = DDT. NRO_LINEA_DOC)
						INNER JOIN RL_DET_DOC_TRANS_POSICION RL ON (DDT.DOC_TRANS_ID = RL.DOC_TRANS_ID AND DDT.NRO_LINEA_TRANS = RL.NRO_LINEA_TRANS)
					WHERE 	DD.DOCUMENTO_ID = @DOC AND DD.NRO_LINEA = @NRO_LINEA
				END 
		
			--NRO.LOTE PROVEEDOR
			IF @vPREFIJO = 10 
				BEGIN
					--NEGATIVO
					INSERT INTO AUDITORIA_HISTORICOS 
					SELECT	@vPREFIJO
						,DD.CLIENTE_ID
						,D.NRO_DESPACHO_IMPORTACION
						,NULL
						,DD.DOCUMENTO_ID
						,DD.NRO_LINEA
						,RL.DOC_TRANS_ID
						,RL.NRO_LINEA_TRANS
						,DD.PRODUCTO_ID
						,DD.NRO_SERIE
						,DD.NRO_SERIE_PADRE
						,RL.EST_MERC_ID
						,RL.CAT_LOG_ID
						,DD.NRO_BULTO
						,DD.NRO_LOTE 
						,DD.FECHA_VENCIMIENTO
						,DD.NRO_DESPACHO
						,DD.NRO_PARTIDA
						,DD.UNIDAD_ID
						,DD.PESO 
						,DD.UNIDAD_PESO
						,DD.VOLUMEN 
						,DD.UNIDAD_VOLUMEN
						,DD.BUSC_INDIVIDUAL
						,DD.TIE_IN 
						,DD.NRO_TIE_IN_PADRE
						,DD.NRO_TIE_IN
						,DD.ITEM_OK 
						,RL.CAT_LOG_ID_FINAL
						,DD.MONEDA_ID
						,DD.COSTO
						,DD.PROP1
						,@vOLD
						,DD.PROP3
						,DD.LARGO
						,DD.ALTO 
						,DD.ANCHO
						,DD.VOLUMEN_UNITARIO
						,DD.PESO_UNITARIO
						,@vQTY * -1
						,@vRL_ID
						,@Usuario
						,@Terminal
						,GETDATE()
						,NULL
						,NULL
						,RL.NAVE_ACTUAL
						,RL.POSICION_ACTUAL
					FROM 	DOCUMENTO D
						INNER JOIN DET_DOCUMENTO DD ON (D.DOCUMENTO_ID = DD.DOCUMENTO_ID)
						INNER JOIN DET_DOCUMENTO_TRANSACCION DDT ON (DD.DOCUMENTO_ID = DDT.DOCUMENTO_ID AND DD.NRO_LINEA = DDT. NRO_LINEA_DOC)
						INNER JOIN RL_DET_DOC_TRANS_POSICION RL ON (DDT.DOC_TRANS_ID = RL.DOC_TRANS_ID AND DDT.NRO_LINEA_TRANS = RL.NRO_LINEA_TRANS)
					WHERE 	DD.DOCUMENTO_ID = @DOC AND DD.NRO_LINEA = @NRO_LINEA
				
					--POSITIVO
					INSERT INTO AUDITORIA_HISTORICOS 
					SELECT	@vPREFIJO
						,DD.CLIENTE_ID
						,D.NRO_DESPACHO_IMPORTACION
						,NULL
						,DD.DOCUMENTO_ID
						,DD.NRO_LINEA
						,RL.DOC_TRANS_ID
						,RL.NRO_LINEA_TRANS
						,DD.PRODUCTO_ID
						,DD.NRO_SERIE
						,DD.NRO_SERIE_PADRE
						,RL.EST_MERC_ID
						,RL.CAT_LOG_ID
						,DD.NRO_BULTO
						,DD.NRO_LOTE 
						,DD.FECHA_VENCIMIENTO
						,DD.NRO_DESPACHO
						,DD.NRO_PARTIDA
						,DD.UNIDAD_ID
						,DD.PESO 
						,DD.UNIDAD_PESO
						,DD.VOLUMEN 
						,DD.UNIDAD_VOLUMEN
						,DD.BUSC_INDIVIDUAL
						,DD.TIE_IN 
						,DD.NRO_TIE_IN_PADRE
						,DD.NRO_TIE_IN
						,DD.ITEM_OK 
						,RL.CAT_LOG_ID_FINAL
						,DD.MONEDA_ID
						,DD.COSTO
						,DD.PROP1
						,@vNEW
						,DD.PROP3
						,DD.LARGO
						,DD.ALTO 
						,DD.ANCHO
						,DD.VOLUMEN_UNITARIO
						,DD.PESO_UNITARIO
						,@vQTY
						,@vRL_ID
						,@Usuario
						,@Terminal
						,DATEADD(SS,1,GETDATE())
						,NULL
						,NULL
						,RL.NAVE_ACTUAL
						,RL.POSICION_ACTUAL
					FROM 	DOCUMENTO D
						INNER JOIN DET_DOCUMENTO DD ON (D.DOCUMENTO_ID = DD.DOCUMENTO_ID)
						INNER JOIN DET_DOCUMENTO_TRANSACCION DDT ON (DD.DOCUMENTO_ID = DDT.DOCUMENTO_ID AND DD.NRO_LINEA = DDT. NRO_LINEA_DOC)
						INNER JOIN RL_DET_DOC_TRANS_POSICION RL ON (DDT.DOC_TRANS_ID = RL.DOC_TRANS_ID AND DDT.NRO_LINEA_TRANS = RL.NRO_LINEA_TRANS)
					WHERE 	DD.DOCUMENTO_ID = @DOC AND DD.NRO_LINEA = @NRO_LINEA
				END 
		
		
			--NRO. BULTO
			IF @vPREFIJO = 11 
				BEGIN
					--NEGATIVO
					INSERT INTO AUDITORIA_HISTORICOS 
					SELECT	@vPREFIJO
						,DD.CLIENTE_ID
						,D.NRO_DESPACHO_IMPORTACION
						,NULL
						,DD.DOCUMENTO_ID
						,DD.NRO_LINEA
						,RL.DOC_TRANS_ID
						,RL.NRO_LINEA_TRANS
						,DD.PRODUCTO_ID
						,DD.NRO_SERIE
						,DD.NRO_SERIE_PADRE
						,RL.EST_MERC_ID
						,RL.CAT_LOG_ID
						,@vOLD
						,DD.NRO_LOTE 
						,DD.FECHA_VENCIMIENTO
						,DD.NRO_DESPACHO
						,DD.NRO_PARTIDA
						,DD.UNIDAD_ID
						,DD.PESO 
						,DD.UNIDAD_PESO
						,DD.VOLUMEN 
						,DD.UNIDAD_VOLUMEN
						,DD.BUSC_INDIVIDUAL
						,DD.TIE_IN 
						,DD.NRO_TIE_IN_PADRE
						,DD.NRO_TIE_IN
						,DD.ITEM_OK 
						,RL.CAT_LOG_ID_FINAL
						,DD.MONEDA_ID
						,DD.COSTO
						,DD.PROP1
						,DD.PROP2
						,DD.PROP3
						,DD.LARGO
						,DD.ALTO 
						,DD.ANCHO
						,DD.VOLUMEN_UNITARIO
						,DD.PESO_UNITARIO
						,@vQTY * -1
						,@vRL_ID
						,@Usuario
						,@Terminal
						,GETDATE()
						,NULL
						,NULL
						,RL.NAVE_ACTUAL
						,RL.POSICION_ACTUAL
					FROM 	DOCUMENTO D
						INNER JOIN DET_DOCUMENTO DD ON (D.DOCUMENTO_ID = DD.DOCUMENTO_ID)
						INNER JOIN DET_DOCUMENTO_TRANSACCION DDT ON (DD.DOCUMENTO_ID = DDT.DOCUMENTO_ID AND DD.NRO_LINEA = DDT. NRO_LINEA_DOC)
						INNER JOIN RL_DET_DOC_TRANS_POSICION RL ON (DDT.DOC_TRANS_ID = RL.DOC_TRANS_ID AND DDT.NRO_LINEA_TRANS = RL.NRO_LINEA_TRANS)
					WHERE 	DD.DOCUMENTO_ID = @DOC AND DD.NRO_LINEA = @NRO_LINEA
				
					--POSITIVO
					INSERT INTO AUDITORIA_HISTORICOS 
					SELECT	@vPREFIJO
						,DD.CLIENTE_ID
						,D.NRO_DESPACHO_IMPORTACION
						,NULL
						,DD.DOCUMENTO_ID
						,DD.NRO_LINEA
						,RL.DOC_TRANS_ID
						,RL.NRO_LINEA_TRANS
						,DD.PRODUCTO_ID
						,DD.NRO_SERIE
						,DD.NRO_SERIE_PADRE
						,RL.EST_MERC_ID
						,RL.CAT_LOG_ID
						,@vNEW
						,DD.NRO_LOTE 
						,DD.FECHA_VENCIMIENTO
						,DD.NRO_DESPACHO
						,DD.NRO_PARTIDA
						,DD.UNIDAD_ID
						,DD.PESO 
						,DD.UNIDAD_PESO
						,DD.VOLUMEN 
						,DD.UNIDAD_VOLUMEN
						,DD.BUSC_INDIVIDUAL
						,DD.TIE_IN 
						,DD.NRO_TIE_IN_PADRE
						,DD.NRO_TIE_IN
						,DD.ITEM_OK 
						,RL.CAT_LOG_ID_FINAL
						,DD.MONEDA_ID
						,DD.COSTO
						,DD.PROP1
						,DD.PROP2
						,DD.PROP3
						,DD.LARGO
						,DD.ALTO 
						,DD.ANCHO
						,DD.VOLUMEN_UNITARIO
						,DD.PESO_UNITARIO
						,@vQTY
						,@vRL_ID
						,@Usuario
						,@Terminal
						,DATEADD(SS,1,GETDATE())
						,NULL
						,NULL
						,RL.NAVE_ACTUAL
						,RL.POSICION_ACTUAL
					FROM 	DOCUMENTO D
						INNER JOIN DET_DOCUMENTO DD ON (D.DOCUMENTO_ID = DD.DOCUMENTO_ID)
						INNER JOIN DET_DOCUMENTO_TRANSACCION DDT ON (DD.DOCUMENTO_ID = DDT.DOCUMENTO_ID AND DD.NRO_LINEA = DDT. NRO_LINEA_DOC)
						INNER JOIN RL_DET_DOC_TRANS_POSICION RL ON (DDT.DOC_TRANS_ID = RL.DOC_TRANS_ID AND DDT.NRO_LINEA_TRANS = RL.NRO_LINEA_TRANS)
					WHERE 	DD.DOCUMENTO_ID = @DOC AND DD.NRO_LINEA = @NRO_LINEA
				END 
		
			--PROPERTY 3
			IF @vPREFIJO = 12 
				BEGIN
					--NEGATIVO
					INSERT INTO AUDITORIA_HISTORICOS 
					SELECT	@vPREFIJO
						,DD.CLIENTE_ID
						,D.NRO_DESPACHO_IMPORTACION
						,NULL
						,DD.DOCUMENTO_ID
						,DD.NRO_LINEA
						,RL.DOC_TRANS_ID
						,RL.NRO_LINEA_TRANS
						,DD.PRODUCTO_ID
						,DD.NRO_SERIE
						,DD.NRO_SERIE_PADRE
						,RL.EST_MERC_ID
						,RL.CAT_LOG_ID
						,DD.NRO_BULTO
						,DD.NRO_LOTE 
						,DD.FECHA_VENCIMIENTO
						,DD.NRO_DESPACHO
						,DD.NRO_PARTIDA
						,DD.UNIDAD_ID
						,DD.PESO 
						,DD.UNIDAD_PESO
						,DD.VOLUMEN 
						,DD.UNIDAD_VOLUMEN
						,DD.BUSC_INDIVIDUAL
						,DD.TIE_IN 
						,DD.NRO_TIE_IN_PADRE
						,DD.NRO_TIE_IN
						,DD.ITEM_OK 
						,RL.CAT_LOG_ID_FINAL
						,DD.MONEDA_ID
						,DD.COSTO
						,DD.PROP1
						,DD.PROP2
						,@vOLD
						,DD.LARGO
						,DD.ALTO 
						,DD.ANCHO
						,DD.VOLUMEN_UNITARIO
						,DD.PESO_UNITARIO
						,@vQTY * -1
						,@vRL_ID
						,@Usuario
						,@Terminal
						,GETDATE()
						,NULL
						,NULL
						,RL.NAVE_ACTUAL
						,RL.POSICION_ACTUAL
					FROM 	DOCUMENTO D
						INNER JOIN DET_DOCUMENTO DD ON (D.DOCUMENTO_ID = DD.DOCUMENTO_ID)
						INNER JOIN DET_DOCUMENTO_TRANSACCION DDT ON (DD.DOCUMENTO_ID = DDT.DOCUMENTO_ID AND DD.NRO_LINEA = DDT. NRO_LINEA_DOC)
						INNER JOIN RL_DET_DOC_TRANS_POSICION RL ON (DDT.DOC_TRANS_ID = RL.DOC_TRANS_ID AND DDT.NRO_LINEA_TRANS = RL.NRO_LINEA_TRANS)
					WHERE 	DD.DOCUMENTO_ID = @DOC AND DD.NRO_LINEA = @NRO_LINEA
				
					--POSITIVO
					INSERT INTO AUDITORIA_HISTORICOS 
					SELECT	@vPREFIJO
						,DD.CLIENTE_ID
						,D.NRO_DESPACHO_IMPORTACION
						,NULL
						,DD.DOCUMENTO_ID
						,DD.NRO_LINEA
						,RL.DOC_TRANS_ID
						,RL.NRO_LINEA_TRANS
						,DD.PRODUCTO_ID
						,DD.NRO_SERIE
						,DD.NRO_SERIE_PADRE
						,RL.EST_MERC_ID
						,RL.CAT_LOG_ID
						,DD.NRO_BULTO
						,DD.NRO_LOTE 
						,DD.FECHA_VENCIMIENTO
						,DD.NRO_DESPACHO
						,DD.NRO_PARTIDA
						,DD.UNIDAD_ID
						,DD.PESO 
						,DD.UNIDAD_PESO
						,DD.VOLUMEN 
						,DD.UNIDAD_VOLUMEN
						,DD.BUSC_INDIVIDUAL
						,DD.TIE_IN 
						,DD.NRO_TIE_IN_PADRE
						,DD.NRO_TIE_IN
						,DD.ITEM_OK 
						,RL.CAT_LOG_ID_FINAL
						,DD.MONEDA_ID
						,DD.COSTO
						,DD.PROP1
						,DD.PROP2
						,@vNEW
						,DD.LARGO
						,DD.ALTO 
						,DD.ANCHO
						,DD.VOLUMEN_UNITARIO
						,DD.PESO_UNITARIO
						,@vQTY
						,@vRL_ID
						,@Usuario
						,@Terminal
						,DATEADD(SS,1,GETDATE())
						,NULL
						,NULL
						,RL.NAVE_ACTUAL
						,RL.POSICION_ACTUAL
					FROM 	DOCUMENTO D
						INNER JOIN DET_DOCUMENTO DD ON (D.DOCUMENTO_ID = DD.DOCUMENTO_ID)
						INNER JOIN DET_DOCUMENTO_TRANSACCION DDT ON (DD.DOCUMENTO_ID = DDT.DOCUMENTO_ID AND DD.NRO_LINEA = DDT. NRO_LINEA_DOC)
						INNER JOIN RL_DET_DOC_TRANS_POSICION RL ON (DDT.DOC_TRANS_ID = RL.DOC_TRANS_ID AND DDT.NRO_LINEA_TRANS = RL.NRO_LINEA_TRANS)
					WHERE 	DD.DOCUMENTO_ID = @DOC AND DD.NRO_LINEA = @NRO_LINEA
				END 

			--N�SERIE
			IF @vPREFIJO = 20
				BEGIN
					--NEGATIVO
					INSERT INTO AUDITORIA_HISTORICOS 
					SELECT	@vPREFIJO
						,DD.CLIENTE_ID
						,D.NRO_DESPACHO_IMPORTACION
						,NULL
						,DD.DOCUMENTO_ID
						,DD.NRO_LINEA
						,RL.DOC_TRANS_ID
						,RL.NRO_LINEA_TRANS
						,DD.PRODUCTO_ID
						,@vOLD
						,DD.NRO_SERIE_PADRE
						,RL.EST_MERC_ID
						,RL.CAT_LOG_ID
						,DD.NRO_BULTO
						,DD.NRO_LOTE 
						,DD.FECHA_VENCIMIENTO
						,DD.NRO_DESPACHO
						,DD.NRO_PARTIDA
						,DD.UNIDAD_ID
						,DD.PESO 
						,DD.UNIDAD_PESO
						,DD.VOLUMEN 
						,DD.UNIDAD_VOLUMEN
						,DD.BUSC_INDIVIDUAL
						,DD.TIE_IN 
						,DD.NRO_TIE_IN_PADRE
						,DD.NRO_TIE_IN
						,DD.ITEM_OK 
						,RL.CAT_LOG_ID_FINAL
						,DD.MONEDA_ID
						,DD.COSTO
						,DD.PROP1
						,DD.PROP2
						,DD.PROP3
						,DD.LARGO
						,DD.ALTO 
						,DD.ANCHO
						,DD.VOLUMEN_UNITARIO
						,DD.PESO_UNITARIO
						,@vQTY * -1
						,@vRL_ID
						,@Usuario
						,@Terminal
						,GETDATE()
						,NULL
						,NULL
						,RL.NAVE_ACTUAL
						,RL.POSICION_ACTUAL
					FROM 	DOCUMENTO D
						INNER JOIN DET_DOCUMENTO DD ON (D.DOCUMENTO_ID = DD.DOCUMENTO_ID)
						INNER JOIN DET_DOCUMENTO_TRANSACCION DDT ON (DD.DOCUMENTO_ID = DDT.DOCUMENTO_ID AND DD.NRO_LINEA = DDT. NRO_LINEA_DOC)
						INNER JOIN RL_DET_DOC_TRANS_POSICION RL ON (DDT.DOC_TRANS_ID = RL.DOC_TRANS_ID AND DDT.NRO_LINEA_TRANS = RL.NRO_LINEA_TRANS)
					WHERE 	DD.DOCUMENTO_ID = @DOC AND DD.NRO_LINEA = @NRO_LINEA
				
					--POSITIVO
					INSERT INTO AUDITORIA_HISTORICOS 
					SELECT	@vPREFIJO
						,DD.CLIENTE_ID
						,D.NRO_DESPACHO_IMPORTACION
						,NULL
						,DD.DOCUMENTO_ID
						,DD.NRO_LINEA
						,RL.DOC_TRANS_ID
						,RL.NRO_LINEA_TRANS
						,DD.PRODUCTO_ID
						,@vNEW
						,DD.NRO_SERIE_PADRE
						,RL.EST_MERC_ID
						,RL.CAT_LOG_ID
						,DD.NRO_BULTO
						,DD.NRO_LOTE 
						,DD.FECHA_VENCIMIENTO
						,DD.NRO_DESPACHO
						,DD.NRO_PARTIDA
						,DD.UNIDAD_ID
						,DD.PESO 
						,DD.UNIDAD_PESO
						,DD.VOLUMEN 
						,DD.UNIDAD_VOLUMEN
						,DD.BUSC_INDIVIDUAL
						,DD.TIE_IN 
						,DD.NRO_TIE_IN_PADRE
						,DD.NRO_TIE_IN
						,DD.ITEM_OK 
						,RL.CAT_LOG_ID_FINAL
						,DD.MONEDA_ID
						,DD.COSTO
						,DD.PROP1
						,DD.PROP2
						,DD.PROP3
						,DD.LARGO
						,DD.ALTO 
						,DD.ANCHO
						,DD.VOLUMEN_UNITARIO
						,DD.PESO_UNITARIO
						,@vQTY
						,@vRL_ID
						,@Usuario
						,@Terminal
						,DATEADD(SS,1,GETDATE())
						,NULL
						,NULL
						,RL.NAVE_ACTUAL
						,RL.POSICION_ACTUAL
					FROM 	DOCUMENTO D
						INNER JOIN DET_DOCUMENTO DD ON (D.DOCUMENTO_ID = DD.DOCUMENTO_ID)
						INNER JOIN DET_DOCUMENTO_TRANSACCION DDT ON (DD.DOCUMENTO_ID = DDT.DOCUMENTO_ID AND DD.NRO_LINEA = DDT. NRO_LINEA_DOC)
						INNER JOIN RL_DET_DOC_TRANS_POSICION RL ON (DDT.DOC_TRANS_ID = RL.DOC_TRANS_ID AND DDT.NRO_LINEA_TRANS = RL.NRO_LINEA_TRANS)
					WHERE 	DD.DOCUMENTO_ID = @DOC AND DD.NRO_LINEA = @NRO_LINEA
				END 

			--N�DESPACHO
			IF @vPREFIJO = 21
				BEGIN
					--NEGATIVO
					INSERT INTO AUDITORIA_HISTORICOS 
					SELECT	@vPREFIJO
						,DD.CLIENTE_ID
						,D.NRO_DESPACHO_IMPORTACION
						,NULL
						,DD.DOCUMENTO_ID
						,DD.NRO_LINEA
						,RL.DOC_TRANS_ID
						,RL.NRO_LINEA_TRANS
						,DD.PRODUCTO_ID
						,NRO_SERIE
						,DD.NRO_SERIE_PADRE
						,RL.EST_MERC_ID
						,RL.CAT_LOG_ID
						,DD.NRO_BULTO
						,DD.NRO_LOTE 
						,DD.FECHA_VENCIMIENTO
						,@vOLD
						,DD.NRO_PARTIDA
						,DD.UNIDAD_ID
						,DD.PESO 
						,DD.UNIDAD_PESO
						,DD.VOLUMEN 
						,DD.UNIDAD_VOLUMEN
						,DD.BUSC_INDIVIDUAL
						,DD.TIE_IN 
						,DD.NRO_TIE_IN_PADRE
						,DD.NRO_TIE_IN
						,DD.ITEM_OK 
						,RL.CAT_LOG_ID_FINAL
						,DD.MONEDA_ID
						,DD.COSTO
						,DD.PROP1
						,DD.PROP2
						,DD.PROP3
						,DD.LARGO
						,DD.ALTO 
						,DD.ANCHO
						,DD.VOLUMEN_UNITARIO
						,DD.PESO_UNITARIO
						,@vQTY * -1
						,@vRL_ID
						,@Usuario
						,@Terminal
						,GETDATE()
						,NULL
						,NULL
						,RL.NAVE_ACTUAL
						,RL.POSICION_ACTUAL
					FROM 	DOCUMENTO D
						INNER JOIN DET_DOCUMENTO DD ON (D.DOCUMENTO_ID = DD.DOCUMENTO_ID)
						INNER JOIN DET_DOCUMENTO_TRANSACCION DDT ON (DD.DOCUMENTO_ID = DDT.DOCUMENTO_ID AND DD.NRO_LINEA = DDT. NRO_LINEA_DOC)
						INNER JOIN RL_DET_DOC_TRANS_POSICION RL ON (DDT.DOC_TRANS_ID = RL.DOC_TRANS_ID AND DDT.NRO_LINEA_TRANS = RL.NRO_LINEA_TRANS)
					WHERE 	DD.DOCUMENTO_ID = @DOC AND DD.NRO_LINEA = @NRO_LINEA
				
					--POSITIVO
					INSERT INTO AUDITORIA_HISTORICOS 
					SELECT	@vPREFIJO
						,DD.CLIENTE_ID
						,D.NRO_DESPACHO_IMPORTACION
						,NULL
						,DD.DOCUMENTO_ID
						,DD.NRO_LINEA
						,RL.DOC_TRANS_ID
						,RL.NRO_LINEA_TRANS
						,DD.PRODUCTO_ID
						,NRO_SERIE
						,DD.NRO_SERIE_PADRE
						,RL.EST_MERC_ID
						,RL.CAT_LOG_ID
						,DD.NRO_BULTO
						,DD.NRO_LOTE 
						,DD.FECHA_VENCIMIENTO
						,@vNEW
						,DD.NRO_PARTIDA
						,DD.UNIDAD_ID
						,DD.PESO 
						,DD.UNIDAD_PESO
						,DD.VOLUMEN 
						,DD.UNIDAD_VOLUMEN
						,DD.BUSC_INDIVIDUAL
						,DD.TIE_IN 
						,DD.NRO_TIE_IN_PADRE
						,DD.NRO_TIE_IN
						,DD.ITEM_OK 
						,RL.CAT_LOG_ID_FINAL
						,DD.MONEDA_ID
						,DD.COSTO
						,DD.PROP1
						,DD.PROP2
						,DD.PROP3
						,DD.LARGO
						,DD.ALTO 
						,DD.ANCHO
						,DD.VOLUMEN_UNITARIO
						,DD.PESO_UNITARIO
						,@vQTY
						,@vRL_ID
						,@Usuario
						,@Terminal
						,DATEADD(SS,1,GETDATE())
						,NULL
						,NULL
						,RL.NAVE_ACTUAL
						,RL.POSICION_ACTUAL
					FROM 	DOCUMENTO D
						INNER JOIN DET_DOCUMENTO DD ON (D.DOCUMENTO_ID = DD.DOCUMENTO_ID)
						INNER JOIN DET_DOCUMENTO_TRANSACCION DDT ON (DD.DOCUMENTO_ID = DDT.DOCUMENTO_ID AND DD.NRO_LINEA = DDT. NRO_LINEA_DOC)
						INNER JOIN RL_DET_DOC_TRANS_POSICION RL ON (DDT.DOC_TRANS_ID = RL.DOC_TRANS_ID AND DDT.NRO_LINEA_TRANS = RL.NRO_LINEA_TRANS)
					WHERE 	DD.DOCUMENTO_ID = @DOC AND DD.NRO_LINEA = @NRO_LINEA
				END 
				
				
			--N�PARTIDA
			IF @vPREFIJO = 22
				BEGIN
					--NEGATIVO
					INSERT INTO AUDITORIA_HISTORICOS 
					SELECT	@vPREFIJO
						,DD.CLIENTE_ID
						,D.NRO_DESPACHO_IMPORTACION
						,NULL
						,DD.DOCUMENTO_ID
						,DD.NRO_LINEA
						,RL.DOC_TRANS_ID
						,RL.NRO_LINEA_TRANS
						,DD.PRODUCTO_ID
						,NRO_SERIE
						,DD.NRO_SERIE_PADRE
						,RL.EST_MERC_ID
						,RL.CAT_LOG_ID
						,DD.NRO_BULTO
						,DD.NRO_LOTE 
						,DD.FECHA_VENCIMIENTO
						,DD.NRO_DESPACHO
						,@vOLD
						,DD.UNIDAD_ID
						,DD.PESO 
						,DD.UNIDAD_PESO
						,DD.VOLUMEN 
						,DD.UNIDAD_VOLUMEN
						,DD.BUSC_INDIVIDUAL
						,DD.TIE_IN 
						,DD.NRO_TIE_IN_PADRE
						,DD.NRO_TIE_IN
						,DD.ITEM_OK 
						,RL.CAT_LOG_ID_FINAL
						,DD.MONEDA_ID
						,DD.COSTO
						,DD.PROP1
						,DD.PROP2
						,DD.PROP3
						,DD.LARGO
						,DD.ALTO 
						,DD.ANCHO
						,DD.VOLUMEN_UNITARIO
						,DD.PESO_UNITARIO
						,@vQTY * -1
						,@vRL_ID
						,@Usuario
						,@Terminal
						,GETDATE()
						,NULL
						,NULL
						,RL.NAVE_ACTUAL
						,RL.POSICION_ACTUAL
					FROM 	DOCUMENTO D
						INNER JOIN DET_DOCUMENTO DD ON (D.DOCUMENTO_ID = DD.DOCUMENTO_ID)
						INNER JOIN DET_DOCUMENTO_TRANSACCION DDT ON (DD.DOCUMENTO_ID = DDT.DOCUMENTO_ID AND DD.NRO_LINEA = DDT. NRO_LINEA_DOC)
						INNER JOIN RL_DET_DOC_TRANS_POSICION RL ON (DDT.DOC_TRANS_ID = RL.DOC_TRANS_ID AND DDT.NRO_LINEA_TRANS = RL.NRO_LINEA_TRANS)
					WHERE 	DD.DOCUMENTO_ID = @DOC AND DD.NRO_LINEA = @NRO_LINEA
				
					--POSITIVO
					INSERT INTO AUDITORIA_HISTORICOS 
					SELECT	@vPREFIJO
						,DD.CLIENTE_ID
						,D.NRO_DESPACHO_IMPORTACION
						,NULL
						,DD.DOCUMENTO_ID
						,DD.NRO_LINEA
						,RL.DOC_TRANS_ID
						,RL.NRO_LINEA_TRANS
						,DD.PRODUCTO_ID
						,NRO_SERIE
						,DD.NRO_SERIE_PADRE
						,RL.EST_MERC_ID
						,RL.CAT_LOG_ID
						,DD.NRO_BULTO
						,DD.NRO_LOTE 
						,DD.FECHA_VENCIMIENTO
						,DD.NRO_DESPACHO
						,@vNEW
						,DD.UNIDAD_ID
						,DD.PESO 
						,DD.UNIDAD_PESO
						,DD.VOLUMEN 
						,DD.UNIDAD_VOLUMEN
						,DD.BUSC_INDIVIDUAL
						,DD.TIE_IN 
						,DD.NRO_TIE_IN_PADRE
						,DD.NRO_TIE_IN
						,DD.ITEM_OK 
						,RL.CAT_LOG_ID_FINAL
						,DD.MONEDA_ID
						,DD.COSTO
						,DD.PROP1
						,DD.PROP2
						,DD.PROP3
						,DD.LARGO
						,DD.ALTO 
						,DD.ANCHO
						,DD.VOLUMEN_UNITARIO
						,DD.PESO_UNITARIO
						,@vQTY
						,@vRL_ID
						,@Usuario
						,@Terminal
						,DATEADD(SS,1,GETDATE())
						,NULL
						,NULL
						,RL.NAVE_ACTUAL
						,RL.POSICION_ACTUAL
					FROM 	DOCUMENTO D
						INNER JOIN DET_DOCUMENTO DD ON (D.DOCUMENTO_ID = DD.DOCUMENTO_ID)
						INNER JOIN DET_DOCUMENTO_TRANSACCION DDT ON (DD.DOCUMENTO_ID = DDT.DOCUMENTO_ID AND DD.NRO_LINEA = DDT. NRO_LINEA_DOC)
						INNER JOIN RL_DET_DOC_TRANS_POSICION RL ON (DDT.DOC_TRANS_ID = RL.DOC_TRANS_ID AND DDT.NRO_LINEA_TRANS = RL.NRO_LINEA_TRANS)
					WHERE 	DD.DOCUMENTO_ID = @DOC AND DD.NRO_LINEA = @NRO_LINEA
				END 				


		END
END 








GO


