

ALTER     PROCEDURE [dbo].[VERIFICA_PALLET_POS_TR]
@POSICION_O AS VARCHAR(45),
@PALLET		AS VARCHAR(100),
@TIPO		AS VARCHAR(1)=0
AS
BEGIN
	DECLARE @CONTROL 	AS INT
	DECLARE @EXISTE 	AS INT

	IF @TIPO='0' BEGIN
		--SE AGREGAN ESTAS LINEAS PARA CONTROLAR LA EXISTENCIA DEL PALLET.
		SET 	@EXISTE = (SELECT COUNT(PROP1) AS EXISTE
		FROM 	DET_DOCUMENTO
		WHERE 	PROP1 = UPPER(LTRIM(RTRIM(@PALLET))))

		IF @EXISTE =0
			BEGIN
				RAISERROR('El pallet ingresado no existe.',16,1)
				RETURN
			END


		SELECT 	@CONTROL=COUNT(RL.RL_ID)
		FROM	DET_DOCUMENTO DD INNER JOIN DET_DOCUMENTO_TRANSACCION DDT
				ON(DD.DOCUMENTO_ID=DDT.DOCUMENTO_ID AND DD.NRO_LINEA=DDT.NRO_LINEA_DOC)
				INNER JOIN RL_DET_DOC_TRANS_POSICION RL
				ON(DDT.DOC_TRANS_ID=RL.DOC_TRANS_ID AND DDT.NRO_LINEA_TRANS=RL.NRO_LINEA_TRANS)
		WHERE	PROP1=LTRIM(RTRIM(UPPER(@PALLET))) 
				AND (RL.NAVE_ACTUAL=(	SELECT 	NAVE_ID
										FROM 	NAVE
										WHERE	NAVE_COD=LTRIM(RTRIM(UPPER(@POSICION_O)))
									)
				OR RL.POSICION_ACTUAL=	(	SELECT 	TOP 1 POSICION_ID
											FROM 	POSICION
											WHERE	POSICION_COD=LTRIM(RTRIM(UPPER(@POSICION_O)))
										))
				AND RL.CANTIDAD >0

		IF @CONTROL=0
		BEGIN
			RAISERROR('1-El pallet no esta en la posicion especificada.',16,1)
			RETURN
		END
	END ELSE BEGIN
		--SE AGREGAN ESTAS LINEAS PARA CONTROLAR LA EXISTENCIA DEL PALLET.
		SET 	@EXISTE = (SELECT COUNT(NRO_BULTO) AS EXISTE
		FROM 	DET_DOCUMENTO
		WHERE 	NRO_BULTO = UPPER(LTRIM(RTRIM(@PALLET))))

		IF @EXISTE =0
		BEGIN
			RAISERROR('La contenedora ingresada no existe.',16,1)
			RETURN
		END

		SELECT 	@CONTROL=COUNT(RL.RL_ID)
		FROM	DET_DOCUMENTO DD INNER JOIN DET_DOCUMENTO_TRANSACCION DDT
				ON(DD.DOCUMENTO_ID=DDT.DOCUMENTO_ID AND DD.NRO_LINEA=DDT.NRO_LINEA_DOC)
				INNER JOIN RL_DET_DOC_TRANS_POSICION RL
				ON(DDT.DOC_TRANS_ID=RL.DOC_TRANS_ID AND DDT.NRO_LINEA_TRANS=RL.NRO_LINEA_TRANS)
		WHERE	NRO_BULTO=LTRIM(RTRIM(UPPER(@PALLET))) 
				AND (RL.NAVE_ACTUAL=	(	SELECT 	NAVE_ID
										FROM 	NAVE
										WHERE	NAVE_COD=LTRIM(RTRIM(UPPER(@POSICION_O)))
									)
				OR RL.POSICION_ACTUAL=	(	SELECT 	TOP 1 POSICION_ID
											FROM 	POSICION
											WHERE	POSICION_COD=LTRIM(RTRIM(UPPER(@POSICION_O)))
										))
				AND RL.CANTIDAD >0

		IF @CONTROL=0
		BEGIN
			RAISERROR('1-La contenedora no esta en la ubicacion especificada.',16,1)
			RETURN
		END
	END
END


