
ALTER PROCEDURE [dbo].[MOB_DEVOLUCION_FINALIZAR]
	@PALLET_DEVOLUCION	AS VARCHAR(100),
	@USUARIO			AS VARCHAR(100)
AS
BEGIN
	--------------------------------------------------------------------------------
	--	DECLARACION DE VARIABLES PARA USO GENERAL.
	--------------------------------------------------------------------------------
		DECLARE @DOCUMENTO_ID		AS NUMERIC(20,0)
		DECLARE @CLIENTE_ID			AS VARCHAR(15)
		DECLARE @NRO_LINEA			AS NUMERIC(10,0)
		DECLARE @CAT_LOG_ID			AS VARCHAR(50)
		DECLARE @PRODUCTO_ANT		AS VARCHAR(30)
		DECLARE @GEN_CONTENEDORA	AS VARCHAR(1)	
		DECLARE @NUM_BULTO			AS NUMERIC(38)
	--------------------------------------------------------------------------------
	--	DECLARACION DE VARIABLES PARA EL CURSOR DE DETALLES.
	--------------------------------------------------------------------------------
		DECLARE @C_DET				AS CURSOR
		DECLARE @ID_DEVO			AS NUMERIC(20,0)
		DECLARE @PRODUCTO_ID		AS VARCHAR(30)
		DECLARE @MOTIVO_ID			AS VARCHAR(100)
		DECLARE @NRO_LOTE			AS VARCHAR(100)
		DECLARE @NRO_PALLET			AS VARCHAR(100)
		DECLARE @NRO_PARTIDA		AS VARCHAR(100)
		DECLARE @NRO_SERIE			AS VARCHAR(100)
		DECLARE @PROP1				AS VARCHAR(100)
		DECLARE @PROP2				AS VARCHAR(100)
		DECLARE @PROP3				AS VARCHAR(100)
		DECLARE @CANTIDAD			AS NUMERIC(20,5)
		DECLARE @OBSERVACIONES		AS VARCHAR(200)
		DECLARE @DOC_ID_EGRESO		AS NUMERIC(20,0)
		DECLARE @NRO_LINEA_EGRESO	AS NUMERIC(10,0)
		DECLARE @COUNT_DEV			AS NUMERIC(20,0)

	--------------------------------------------------------------------------------
	SET	@NRO_LINEA=0
	
	SELECT	@COUNT_DEV=COUNT(*)
	FROM	MOB_DEVOLUCIONES_TMP
	WHERE	PALLET_DEVOLUCION=@PALLET_DEVOLUCION 
	
	IF @COUNT_DEV=0 BEGIN
		RAISERROR('No se encontro ningun material confirmado para finalizar la devolucion.',16,1)
		RETURN
	END
	
	SELECT	DISTINCT 
			@CLIENTE_ID = CLIENTE_ID
	FROM	MOB_DEVOLUCIONES_TMP
	WHERE	PALLET_DEVOLUCION=@PALLET_DEVOLUCION 

	--CREACION DE DOCUMENTO.
	INSERT INTO DOCUMENTO	(	CLIENTE_ID,			TIPO_COMPROBANTE_ID,
								TIPO_OPERACION_ID,	DET_TIPO_OPERACION_ID,	FECHA_CPTE,
								FECHA_PEDIDA_ENT,	STATUS,					ANULADO)
				VALUES		(	@CLIENTE_ID,		'DE',
								'ING',				'MAN',					GETDATE(),
								GETDATE(),			'D05',					'0')

	SELECT @DOCUMENTO_ID=SCOPE_IDENTITY()								

	IF CURSOR_STATUS('global','C_DET')>=-1
	BEGIN
		DEALLOCATE @C_DET
	END
	
	SET @C_DET=CURSOR FOR
	SELECT	M.ID_DEVO,
			M.CLIENTE_ID,
			M.PRODUCTO_ID,
			M.MOTIVO_ID,
			M.NRO_LOTE,
			M.NRO_PALLET,
			M.NRO_PARTIDA,
			M.NRO_SERIE,
			M.CANTIDAD,
			M.OBSERVACIONES,
			M.DOCUMENTO_ID_EGRESO,
			M.NRO_LINEA_EGRESO
	FROM	MOB_DEVOLUCIONES_TMP M(NOLOCK) INNER JOIN PRODUCTO P
			ON(M.CLIENTE_ID=P.CLIENTE_ID AND M.PRODUCTO_ID=P.PRODUCTO_ID)
	WHERE	PALLET_DEVOLUCION=@PALLET_DEVOLUCION
	ORDER BY
			M.PRODUCTO_ID
			
	OPEN @C_DET
	
	FETCH @C_DET INTO @ID_DEVO, @CLIENTE_ID, @PRODUCTO_ID, @MOTIVO_ID, @NRO_LOTE, @NRO_PALLET, @NRO_PARTIDA, @NRO_SERIE, @CANTIDAD, @OBSERVACIONES, @DOC_ID_EGRESO, @NRO_LINEA_EGRESO
	WHILE @@FETCH_STATUS=0 BEGIN
	
		SET	@NRO_LINEA=@NRO_LINEA + 1
		
		IF @PRODUCTO_ID<>ISNULL(@PRODUCTO_ANT,'') BEGIN
			
			SET @PRODUCTO_ANT=@PRODUCTO_ID
			
			SELECT	@GEN_CONTENEDORA=FLG_CONTENEDORA
			FROM	PRODUCTO
			WHERE	CLIENTE_ID = @CLIENTE_ID
					AND PRODUCTO_ID=@PRODUCTO_ID
					
			IF @GEN_CONTENEDORA='1' BEGIN
			
				EXEC dbo.GET_VALUE_FOR_SEQUENCE 'CONTENEDORA',@NUM_BULTO OUTPUT
			
			END
		
		END
		
        SELECT	@CAT_LOG_ID=PC.CAT_LOG_ID
        FROM	RL_PRODUCTO_CATLOG PC (NOLOCK)
        WHERE	PC.CLIENTE_ID=@CLIENTE_ID 
				AND PC.PRODUCTO_ID=@PRODUCTO_ID
				AND PC.TIPO_COMPROBANTE_ID='DE'

		IF @CAT_LOG_ID IS NULL BEGIN
		
            SELECT	@CAT_LOG_ID=P.ING_CAT_LOG_ID
            FROM	PRODUCTO P (NOLOCK)
            WHERE	P.CLIENTE_ID=@CLIENTE_ID
					AND P.PRODUCTO_ID=@PRODUCTO_ID
					
		END						
		--CREACION DE DETALLE.
		
		SELECT	@PROP2=DD.PROP2, @PROP3=DD.PROP3 
		FROM	DET_DOCUMENTO DD
		WHERE	DOCUMENTO_ID=@DOC_ID_EGRESO
				AND NRO_LINEA=@NRO_LINEA_EGRESO
	
		--A. INSERTO EL DETALLE.
		INSERT INTO DET_DOCUMENTO (	DOCUMENTO_ID,	NRO_LINEA,		CLIENTE_ID,		PRODUCTO_ID,	EST_MERC_ID,	CAT_LOG_ID_FINAL,	TIE_IN,
									UNIDAD_ID,		DESCRIPCION,	BUSC_INDIVIDUAL,ITEM_OK,		CANT_SOLICITADA,PROP1,				PROP2,
									PROP3,			NRO_BULTO,		NRO_PARTIDA,	NRO_SERIE,		
									CANTIDAD)

							SELECT	@DOCUMENTO_ID,	@NRO_LINEA,		@CLIENTE_ID,	@PRODUCTO_ID,	NULL,			@CAT_LOG_ID,		'0',
									P.UNIDAD_ID,	P.DESCRIPCION,	'1',			'1',			@CANTIDAD,		@PALLET_DEVOLUCION,	@PROP2,
									@PROP3,			@NUM_BULTO,		@NRO_PARTIDA,	CASE ISNULL(SERIE_EGR,'0') WHEN '1' THEN NULL WHEN '0' THEN @NRO_SERIE END,		
									@CANTIDAD
							FROM	PRODUCTO P
							WHERE	CLIENTE_ID=@CLIENTE_ID	
									AND PRODUCTO_ID=@PRODUCTO_ID									
		
		--B. MARCO EN LA TABLA DE ORIGEN EL DOCUMENTO DESTINO.
		UPDATE	MOB_DEVOLUCIONES_TMP
		SET		DOCUMENTO_ID_DEVOLUCION=@DOCUMENTO_ID,
				NRO_LINEA_DEVOLUCION=@NRO_LINEA,
				ESTADO='PROCESADO',
				FECHA_ESTADO=GETDATE()
		WHERE	ID_DEVO=@ID_DEVO
				
		--C. 
		EXEC dbo.Aux_det_doc_insert @DOCUMENTO_ID,@NRO_LINEA, @MOTIVO_ID, @USUARIO, HOST_NAME, @OBSERVACIONES,@DOC_ID_EGRESO,@NRO_LINEA_EGRESO
	
		FETCH @C_DET INTO @ID_DEVO, @CLIENTE_ID, @PRODUCTO_ID, @MOTIVO_ID, @NRO_LOTE, @NRO_PALLET, @NRO_PARTIDA, @NRO_SERIE, @CANTIDAD, @OBSERVACIONES, @DOC_ID_EGRESO, @NRO_LINEA_EGRESO
	END--FIN DEL WHILE.
	
	CLOSE @C_DET
	DEALLOCATE @C_DET
	
	EXEC dbo.Funciones_Stock_Api#Documento_A_Ingreso @DOCUMENTO_ID
	
	EXEC dbo.Asigna_Tratamiento#Asigna_Tratamiento_ING @DOCUMENTO_ID
	
	EXEC dbo.AUDITORIA_HIST_INSERT_ING @DOCUMENTO_ID
	
	UPDATE	MOB_DEVOLUCIONES_TMP
	SET		ESTADO='FINALIZADO',
			FECHA_ESTADO=GETDATE()
	WHERE	PALLET_DEVOLUCION=@PALLET_DEVOLUCION
	
	INSERT INTO IMPRESION_RODC VALUES(@DOCUMENTO_ID,'0','D','0',@USUARIO)
	
END--FIN PROCEDURE.
