set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

ALTER PROCEDURE [dbo].[GET_CANTIDAD_TOTAL_PICKING_PRODUCTO]
@ViajeID		varchar(100),
@PRODUCTOID		VARCHAR(30),
@VALORTOTAL		NUMERIC(20,5) OUTPUT
AS
BEGIN
	SELECT	@VALORTOTAL=(SUM(P.CANTIDAD)-SUM(ISNULL(P.CANT_CONFIRMADA,0)))
	FROM	PICKING P 
	WHERE	P.PRODUCTO_ID =@PRODUCTOID
			AND P.VIAJE_ID=@ViajeID
			
END--FIN PROCEDURE


