/****** Object:  StoredProcedure [dbo].[busca_tmp_producto_empaque]    Script Date: 02/06/2013 11:20:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LRojas
-- Create date: 17/04/2012
-- Description:	Procedimiento para buscar productos para empaquetar
-- =============================================
ALTER PROCEDURE [dbo].[busca_tmp_producto_empaque] 
	@CLIENTE_ID as varchar(15) OUTPUT,
    @PEDIDO_ID as varchar(30) OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
    
SELECT	PR.PRODUCTO_ID
		,ISNULL(P.NRO_LOTE,'')	as LoteProveedor
		,ISNULL(P.NRO_PARTIDA,'') as NroPartida
		,ISNULL(P.NRO_SERIE,'') as NroSerie
		,SUM(P.CANT_CONFIRMADA) CANTIDAD_PICKEADA
		,ISNULL(TMP.CANT_CONFIRMADA, 0) CANTIDAD_CONTROLADA
		,PR.UNIDAD_ID
		,PR.DESCRIPCION
      FROM DOCUMENTO D INNER JOIN TMP_EMPAQUE_CONTENEDORA P ON(D.DOCUMENTO_ID = P.DOCUMENTO_ID) 
     INNER JOIN PRODUCTO PR ON (P.PRODUCTO_ID = PR.PRODUCTO_ID AND P.CLIENTE_ID = PR.CLIENTE_ID)
      LEFT JOIN (SELECT DOCUMENTO_ID,NRO_LOTE,NRO_PARTIDA,NRO_SERIE, PRODUCTO_ID, SUM(CANT_CONFIRMADA) CANT_CONFIRMADA, PALLET_CONTROLADO 
                   FROM TMP_EMPAQUE_CONTENEDORA WHERE PALLET_CONTROLADO <> '0'
                  GROUP BY DOCUMENTO_ID,NRO_LOTE,NRO_PARTIDA,NRO_SERIE, PRODUCTO_ID, PALLET_CONTROLADO
                ) TMP ON TMP.DOCUMENTO_ID = P.DOCUMENTO_ID AND TMP.PRODUCTO_ID = P.PRODUCTO_ID AND ISNULL(TMP.NRO_LOTE,'') = ISNULL(P.NRO_LOTE,'') AND ISNULL(TMP.NRO_PARTIDA,'') = ISNULL(P.NRO_PARTIDA,'') AND ISNULL(TMP.NRO_SERIE,'') = ISNULL(P.NRO_SERIE,'')
     WHERE P.CLIENTE_ID = @CLIENTE_ID
       AND D.NRO_REMITO = @PEDIDO_ID
       AND P.CANT_CONFIRMADA >0 --se agrega para que no aparezcan productos pickeados en cero
     GROUP BY PR.PRODUCTO_ID
			,ISNULL(TMP.CANT_CONFIRMADA, 0)
			,P.NRO_LOTE
			,P.NRO_PARTIDA
			,ISNULL(P.NRO_SERIE,'')
			,PR.UNIDAD_ID
			,PR.DESCRIPCION
UNION
    SELECT PR.PRODUCTO_ID
		,ISNULL(P.NRO_LOTE,'')	as LoteProveedor
		,ISNULL(P.NRO_PARTIDA,'') as NroPartida
		,ISNULL(P.NRO_SERIE,'') as NroSerie
			,SUM(P.CANT_CONFIRMADA) CANTIDAD_PICKEADA, 
           ISNULL(TMP.CANT_CONFIRMADA, 0) CANTIDAD_CONTROLADA, 
           PR.UNIDAD_ID,
           PR.DESCRIPCION
      FROM DOCUMENTO D INNER JOIN PICKING P ON(D.DOCUMENTO_ID = P.DOCUMENTO_ID) 
     INNER JOIN PRODUCTO PR ON (P.PRODUCTO_ID = PR.PRODUCTO_ID AND P.CLIENTE_ID = PR.CLIENTE_ID)
      LEFT JOIN (SELECT DOCUMENTO_ID,NRO_LOTE,NRO_PARTIDA,NRO_SERIE, PRODUCTO_ID, SUM(CANT_CONFIRMADA) CANT_CONFIRMADA, PALLET_CONTROLADO 
                   FROM PICKING WHERE PALLET_CONTROLADO <> '0'
                  GROUP BY DOCUMENTO_ID,NRO_LOTE,NRO_PARTIDA,NRO_SERIE, PRODUCTO_ID, PALLET_CONTROLADO
                ) TMP ON TMP.DOCUMENTO_ID = P.DOCUMENTO_ID AND TMP.PRODUCTO_ID = P.PRODUCTO_ID AND ISNULL(TMP.NRO_LOTE,'') = ISNULL(P.NRO_LOTE,'') AND ISNULL(TMP.NRO_PARTIDA,'') = ISNULL(P.NRO_PARTIDA,'') AND ISNULL(TMP.NRO_SERIE,'') = ISNULL(P.NRO_SERIE,'')
     WHERE P.CLIENTE_ID = @CLIENTE_ID
       AND D.NRO_REMITO = @PEDIDO_ID
       AND P.CANT_CONFIRMADA >0 --se agrega para que no aparezcan productos pickeados en cero
       AND NOT EXISTS (SELECT 1 FROM TMP_EMPAQUE_CONTENEDORA TEC WHERE TEC.DOCUMENTO_ID = P.DOCUMENTO_ID AND TEC.PRODUCTO_ID = P.PRODUCTO_ID AND ISNULL(TEC.NRO_LOTE,'') = ISNULL(P.NRO_LOTE,'') AND ISNULL(TEC.NRO_PARTIDA,'') = ISNULL(P.NRO_PARTIDA,'') AND ISNULL(TEC.NRO_SERIE,'') = ISNULL(P.NRO_SERIE,''))
     GROUP BY PR.PRODUCTO_ID
			,ISNULL(TMP.CANT_CONFIRMADA, 0)
			,P.NRO_LOTE
			,P.NRO_PARTIDA
			,ISNULL(P.NRO_SERIE,'')
			,PR.UNIDAD_ID
			,PR.DESCRIPCION

--SELECT PR.PRODUCTO_ID
--		,P.NRO_LOTE	as LoteProveedor
--		,P.NRO_PARTIDA as NroPartida
--		,ISNULL(P.NRO_SERIE,'') as NroSerie
--			,SUM(P.CANT_CONFIRMADA) CANTIDAD_PICKEADA, 
--           ISNULL(TMP.CANT_CONFIRMADA, 0) CANTIDAD_CONTROLADA, 
--           PR.UNIDAD_ID,
--           PR.DESCRIPCION
--      FROM DOCUMENTO D INNER JOIN TMP_EMPAQUE_CONTENEDORA P ON(D.DOCUMENTO_ID = P.DOCUMENTO_ID) 
--     INNER JOIN PRODUCTO PR ON (P.PRODUCTO_ID = PR.PRODUCTO_ID AND P.CLIENTE_ID = PR.CLIENTE_ID)
--      LEFT JOIN (SELECT DOCUMENTO_ID,NRO_LOTE,NRO_PARTIDA,NRO_SERIE, PRODUCTO_ID, SUM(CANT_CONFIRMADA) CANT_CONFIRMADA, PALLET_CONTROLADO 
--                   FROM TMP_EMPAQUE_CONTENEDORA WHERE PALLET_CONTROLADO <> '0'
--                  GROUP BY DOCUMENTO_ID,NRO_LOTE,NRO_PARTIDA,NRO_SERIE, PRODUCTO_ID, PALLET_CONTROLADO
--                ) TMP ON TMP.DOCUMENTO_ID = P.DOCUMENTO_ID AND TMP.PRODUCTO_ID = P.PRODUCTO_ID AND ISNULL(TMP.NRO_LOTE,'') = ISNULL(P.NRO_LOTE,'') AND ISNULL(TMP.NRO_PARTIDA,'') = ISNULL(P.NRO_PARTIDA,'') AND ISNULL(TMP.NRO_SERIE,'') = ISNULL(P.NRO_SERIE,'')
--     WHERE P.CLIENTE_ID = @CLIENTE_ID
--       AND D.NRO_REMITO = @PEDIDO_ID
--     GROUP BY PR.PRODUCTO_ID
--			,ISNULL(TMP.CANT_CONFIRMADA, 0)
--			,P.NRO_LOTE
--			,P.NRO_PARTIDA
--			,ISNULL(P.NRO_SERIE,'')
--			,PR.UNIDAD_ID
--			,PR.DESCRIPCION
--UNION
--    SELECT PR.PRODUCTO_ID
--		,P.NRO_LOTE	as LoteProveedor
--		,P.NRO_PARTIDA as NroPartida
--		,ISNULL(P.NRO_SERIE,'') as NroSerie
--			,SUM(P.CANT_CONFIRMADA) CANTIDAD_PICKEADA, 
--           ISNULL(TMP.CANT_CONFIRMADA, 0) CANTIDAD_CONTROLADA, 
--           PR.UNIDAD_ID,
--           PR.DESCRIPCION
--      FROM DOCUMENTO D INNER JOIN PICKING P ON(D.DOCUMENTO_ID = P.DOCUMENTO_ID) 
--     INNER JOIN PRODUCTO PR ON (P.PRODUCTO_ID = PR.PRODUCTO_ID AND P.CLIENTE_ID = PR.CLIENTE_ID)
--      LEFT JOIN (SELECT DOCUMENTO_ID,NRO_LOTE,NRO_PARTIDA,NRO_SERIE, PRODUCTO_ID, SUM(CANT_CONFIRMADA) CANT_CONFIRMADA, PALLET_CONTROLADO 
--                   FROM PICKING WHERE PALLET_CONTROLADO <> '0'
--                  GROUP BY DOCUMENTO_ID,NRO_LOTE,NRO_PARTIDA,NRO_SERIE, PRODUCTO_ID, PALLET_CONTROLADO
--                ) TMP ON TMP.DOCUMENTO_ID = P.DOCUMENTO_ID AND TMP.PRODUCTO_ID = P.PRODUCTO_ID AND ISNULL(TMP.NRO_LOTE,'') = ISNULL(P.NRO_LOTE,'') AND ISNULL(TMP.NRO_PARTIDA,'') = ISNULL(P.NRO_PARTIDA,'') AND ISNULL(TMP.NRO_SERIE,'') = ISNULL(P.NRO_SERIE,'')
--     WHERE P.CLIENTE_ID = @CLIENTE_ID
--       AND D.NRO_REMITO = @PEDIDO_ID
--       AND NOT EXISTS (SELECT 1 FROM TMP_EMPAQUE_CONTENEDORA TEC WHERE TEC.DOCUMENTO_ID = P.DOCUMENTO_ID AND TEC.PRODUCTO_ID = P.PRODUCTO_ID AND TEC.NRO_LOTE = P.NRO_LOTE AND TEC.NRO_PARTIDA = P.NRO_PARTIDA AND TEC.NRO_SERIE = P.NRO_SERIE)
--     GROUP BY PR.PRODUCTO_ID
--			,ISNULL(TMP.CANT_CONFIRMADA, 0)
--			,P.NRO_LOTE
--			,P.NRO_PARTIDA
--			,ISNULL(P.NRO_SERIE,'')
--			,PR.UNIDAD_ID
--			,PR.DESCRIPCION

END


