/****** Object:  StoredProcedure [dbo].[verificar_empaque_completado]    Script Date: 02/18/2013 14:07:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[verificar_empaque_completado]
(
	@CLIENTE_ID		VARCHAR(15)		OUTPUT
	,@VIAJE_ID		VARCHAR(100)	OUTPUT
	,@RESULTADO		INT				OUTPUT
)
AS
BEGIN

	IF EXISTS
		(SELECT 1 FROM PICKING P
		INNER JOIN DET_DOCUMENTO DD ON (P.DOCUMENTO_ID = DD.DOCUMENTO_ID AND P.NRO_LINEA = DD.NRO_LINEA)
		INNER JOIN DOCUMENTO D ON (DD.DOCUMENTO_ID = D.DOCUMENTO_ID)
		WHERE D.CLIENTE_ID = @CLIENTE_ID AND D.NRO_REMITO = @VIAJE_ID AND P.PALLET_CONTROLADO = '0'
		AND P.CANT_CONFIRMADA > 0)
		SET @RESULTADO = 0
	ELSE
		SET @RESULTADO = 1
END
