CREATE PROCEDURE [dbo].[INSERT_CLIENTE]
	@CLIENTE_ID             	VARCHAR (15)	OUTPUT,
	@RAZON_SOCIAL				VARCHAR (60)	OUTPUT,
	@NOMBRE						VARCHAR (60)	OUTPUT,
	@CALLE						VARCHAR (50)	OUTPUT,
	@NUMERO						VARCHAR (5)		OUTPUT,
	@LOCALIDAD					VARCHAR (50)	OUTPUT,
	@PROVINCIA_ID				VARCHAR (5)		OUTPUT,
	@PAIS_ID					VARCHAR (5)		OUTPUT,
	@CODIGO_POSTAL				VARCHAR (10)	OUTPUT,
	@ZONA_ID					VARCHAR (5)		OUTPUT,
	@EMAIL						VARCHAR (50)	OUTPUT,
	@TELEFONO_1					VARCHAR (20)	OUTPUT,
	@TELEFONO_2					VARCHAR (20)	OUTPUT,
	@TELEFONO_3					VARCHAR (20)	OUTPUT,
	@FAX						VARCHAR (20)	OUTPUT,
	@TIPO_DOCUMENTO_ID			VARCHAR (5)		OUTPUT,
	@NRO_DOCUMENTO				VARCHAR (20)	OUTPUT,
	@CATEGORIA_CLIENTE_ID		VARCHAR (5)		OUTPUT,
	@CATEGORIA_IMPOSITIVA_ID	VARCHAR (5)		OUTPUT,
	@OBSERVACIONES				VARCHAR (250)	OUTPUT,
	@REMITO_ID					VARCHAR (20)	OUTPUT,
	@STATUS_LN					VARCHAR (10)	OUTPUT
	
AS
BEGIN
	SET XACT_ABORT ON
	SET NOCOUNT OFF
	DECLARE @COUNT SMALLINT
	SET @STATUS_LN='0';
	
	--VALIDACION DEL CLIENTE
	SELECT @COUNT=COUNT(*) FROM CLIENTE WHERE CLIENTE_ID=LTRIM(RTRIM(UPPER(@CLIENTE_ID)))
	IF @COUNT<>0
	BEGIN
		SET @STATUS_LN='1';
		RETURN
	END
	SET @COUNT=NULL
	
	--VALIDACION DE LA RAZON SOCIAL NO VACIA
	IF LTRIM(RTRIM(@RAZON_SOCIAL))=''
	BEGIN
		SET @STATUS_LN='2';
		RETURN	
	END
	
	--VALIDACION DE QUE LA PROVINCIA EXISTA
	IF LTRIM(RTRIM(@PROVINCIA_ID))<>'' AND LTRIM(RTRIM(@PAIS_ID))<>''
	BEGIN
		SELECT @COUNT=COUNT(*) FROM PROVINCIA WHERE PAIS_ID=@PAIS_ID AND PROVINCIA_ID=LTRIM(RTRIM(UPPER(@PROVINCIA_ID)))
		IF @COUNT=0
		BEGIN
			SET @STATUS_LN='3';
			RETURN	
		END		
	END
	SET @COUNT=NULL
	
	--VALIDACION DE QUE EL PAIS INGRESADO EXISTA
	IF LTRIM(RTRIM(@PAIS_ID))<>''
	BEGIN
		SELECT @COUNT=COUNT(*) FROM PAIS WHERE PAIS_ID=LTRIM(RTRIM(UPPER(@PAIS_ID)))
		IF @COUNT=0
		BEGIN
			SET @STATUS_LN='4';
			RETURN	
		END		
	END
	SET @COUNT=NULL
	
	--VALIDACION DE QUE EL CODIGO POSTAL EXISTA PARA LA PROVINCIA Y PAIS	
	IF LTRIM(RTRIM(@CODIGO_POSTAL))<>'' AND LTRIM(RTRIM(@PAIS_ID))<>'' AND LTRIM(RTRIM(@PROVINCIA_ID))<>''
	BEGIN
		SELECT @COUNT=COUNT(*) FROM CODIGO_POSTAL WHERE PAIS_ID=LTRIM(RTRIM(UPPER(@PAIS_ID))) AND PROVINCIA_ID=LTRIM(RTRIM(UPPER(@PROVINCIA_ID))) AND CODIGO_POSTAL=LTRIM(RTRIM(UPPER(@CODIGO_POSTAL)))
		IF @COUNT=0
		BEGIN
			SET @STATUS_LN='5';
			RETURN	
		END
	END
	ELSE
	BEGIN
		SET @CODIGO_POSTAL=NULL
		SET @PAIS_ID=NULL
		SET @PROVINCIA_ID=NULL
	END
	SET @COUNT=NULL
	
	--VALIDACION DE QUE LA ZONA EXISTA
	IF LTRIM(RTRIM(@ZONA_ID))<>''
	BEGIN
		SELECT @COUNT=COUNT(*) FROM ZONA WHERE ZONA_ID=LTRIM(RTRIM(UPPER(@ZONA_ID)))
		IF @COUNT=0
		BEGIN
			SET @STATUS_LN='6';
			RETURN	
		END
	END
	SET @COUNT=NULL
	
	--VALIDACION DE QUE EXISTA EL TIPO DE DOCUMENTO
	IF LTRIM(RTRIM(@TIPO_DOCUMENTO_ID))<>''
	BEGIN
		SELECT @COUNT=COUNT(*) FROM TIPO_DOCUMENTO WHERE TIPO_DOCUMENTO_ID=LTRIM(RTRIM(UPPER(@TIPO_DOCUMENTO_ID)))
		IF @COUNT=0
		BEGIN
			SET @STATUS_LN='7';
			RETURN
		END
	END
	SET @COUNT=NULL
	
	--VALIDACION DE QUE EXISTA LA CATEGORIA DEL CLIENTE
	IF LTRIM(RTRIM(@CATEGORIA_CLIENTE_ID))<>''
	BEGIN
		SELECT @COUNT=COUNT(*) FROM CATEGORIA_CLIENTE WHERE CATEGORIA_CLIENTE_ID=LTRIM(RTRIM(UPPER(@CATEGORIA_CLIENTE_ID)))
		IF @COUNT=0
		BEGIN
			SET @STATUS_LN='8';
			RETURN
		END
	END
	SET @COUNT=NULL
	
	--VALIDACION DE QUE EXISTA LA CATEGORIA IMPOSITIVA
	IF LTRIM(RTRIM(@CATEGORIA_IMPOSITIVA_ID))<>''
	BEGIN
		SELECT @COUNT=COUNT(*) FROM CATEGORIA_IMPOSITIVA WHERE CATEGORIA_IMPOSITIVA_ID=LTRIM(RTRIM(UPPER(@CATEGORIA_IMPOSITIVA_ID)))
		IF @COUNT=0
		BEGIN
			SET @STATUS_LN='9';
			RETURN
		END
	END
	SET @COUNT=NULL
	
	--VALIDACION DE QUE EXISTA EL REMITO
	IF LTRIM(RTRIM(@REMITO_ID))<>''
	BEGIN
		SELECT @COUNT=COUNT(*) FROM REMITOS WHERE REMITO_ID=LTRIM(RTRIM(UPPER(@REMITO_ID)))
		IF @COUNT=0
		BEGIN
			SET @STATUS_LN='10';
			RETURN
		END
	END
	SET @COUNT=NULL

	--SI LLEGUE HASTA ACA ES PORQUE TODO ESTA OK.
	INSERT INTO CLIENTE (CLIENTE_ID,	
						RAZON_SOCIAL,	
						NOMBRE,		
						CALLE,
						NUMERO,
						LOCALIDAD,
						PROVINCIA_ID,
						PAIS_ID,
						CODIGO_POSTAL,
						ZONA_ID,
						EMAIL,
						TELEFONO_1,
						TELEFONO_2,
						TELEFONO_3,
						FAX,
						TIPO_DOCUMENTO_ID,
						NRO_DOCUMENTO,
						CATEGORIA_CLIENTE_ID,
						CATEGORIA_IMPOSITIVA_ID,
						OBSERVACIONES,
						REMITO_ID
	)
	VALUES(
		 LTRIM(RTRIM(UPPER(@CLIENTE_ID))),
		 LTRIM(RTRIM(UPPER(@RAZON_SOCIAL))),
		 CASE WHEN (LTRIM(RTRIM(UPPER(@NOMBRE)))= '') THEN NULL ELSE LTRIM(RTRIM(UPPER(@NOMBRE))) END,
		 CASE WHEN (LTRIM(RTRIM(UPPER(@CALLE)))= '') THEN NULL ELSE LTRIM(RTRIM(UPPER(@CALLE))) END,
		 CASE WHEN ((CAST(@NUMERO AS FLOAT))= '') THEN NULL ELSE (CAST(@NUMERO AS FLOAT)) END,
		 CASE WHEN (LTRIM(RTRIM(UPPER(@LOCALIDAD)))= '') THEN NULL ELSE LTRIM(RTRIM(UPPER(@LOCALIDAD))) END,
		 CASE WHEN (LTRIM(RTRIM(UPPER(@PROVINCIA_ID)))= '') THEN NULL ELSE LTRIM(RTRIM(UPPER(@PROVINCIA_ID))) END,
		 CASE WHEN (LTRIM(RTRIM(UPPER(@PAIS_ID)))= '') THEN NULL ELSE LTRIM(RTRIM(UPPER(@PAIS_ID))) END,
		 CASE WHEN (LTRIM(RTRIM(UPPER(@CODIGO_POSTAL)))= '') THEN NULL ELSE LTRIM(RTRIM(UPPER(@CODIGO_POSTAL))) END,
		 CASE WHEN (LTRIM(RTRIM(UPPER(@ZONA_ID)))= '') THEN NULL ELSE LTRIM(RTRIM(UPPER(@ZONA_ID))) END,
		 CASE WHEN (LTRIM(RTRIM(UPPER(@EMAIL)))= '') THEN NULL ELSE LTRIM(RTRIM(UPPER(@EMAIL))) END,
		 CASE WHEN (LTRIM(RTRIM(UPPER(@TELEFONO_1)))= '') THEN NULL ELSE LTRIM(RTRIM(UPPER(@TELEFONO_1))) END,
		 CASE WHEN (LTRIM(RTRIM(UPPER(@TELEFONO_2)))= '') THEN NULL ELSE LTRIM(RTRIM(UPPER(@TELEFONO_2))) END,
		 CASE WHEN (LTRIM(RTRIM(UPPER(@TELEFONO_3)))= '') THEN NULL ELSE LTRIM(RTRIM(UPPER(@TELEFONO_3))) END,
		 CASE WHEN (LTRIM(RTRIM(UPPER(@FAX)))= '') THEN NULL ELSE LTRIM(RTRIM(UPPER(@FAX))) END,
		 CASE WHEN (LTRIM(RTRIM(UPPER(@TIPO_DOCUMENTO_ID)))= '') THEN NULL ELSE LTRIM(RTRIM(UPPER(@TIPO_DOCUMENTO_ID))) END,
		 CASE WHEN (LTRIM(RTRIM(UPPER(@NRO_DOCUMENTO)))= '') THEN NULL ELSE LTRIM(RTRIM(UPPER(@NRO_DOCUMENTO))) END,
		 CASE WHEN (LTRIM(RTRIM(UPPER(@CATEGORIA_CLIENTE_ID)))= '') THEN NULL ELSE LTRIM(RTRIM(UPPER(@CATEGORIA_CLIENTE_ID))) END,
		 CASE WHEN (LTRIM(RTRIM(UPPER(@CATEGORIA_IMPOSITIVA_ID)))= '') THEN NULL ELSE LTRIM(RTRIM(UPPER(@CATEGORIA_IMPOSITIVA_ID))) END,
		 CASE WHEN (LTRIM(RTRIM(UPPER(@OBSERVACIONES)))= '') THEN NULL ELSE LTRIM(RTRIM(UPPER(@OBSERVACIONES))) END,
		 CASE WHEN (CAST(@REMITO_ID AS FLOAT))= '' THEN NULL ELSE CAST(@REMITO_ID AS FLOAT) END 
	)
	
	--INSERTO LAS CATEGORIAS LOGICAS
	INSERT INTO CATEGORIA_LOGICA VALUES(
		LTRIM(RTRIM(UPPER(@CLIENTE_ID)))
        ,'TRAN_ING'
        ,'PRODUCTOS ASIGNADOS A UN INGRESO'
        ,'0'
        ,'0'
        ,'TRAN_ING'
        ,'1'
        ,'0'
        )

	INSERT INTO CATEGORIA_LOGICA VALUES(
		LTRIM(RTRIM(UPPER(@CLIENTE_ID)))
		,'TRAN_EGR'
        ,'PRODUCTOS ASIGNADOS A UN EGRESO'
        ,'0'
        ,'0'
        ,'TRAN_EGR'
        ,'1'
        ,'0'
		)
		
	INSERT INTO CATEGORIA_LOGICA VALUES(
		LTRIM(RTRIM(UPPER(@CLIENTE_ID)))
		,'DISPONIBLE'
        ,'DISPONIBLE'
        ,'1'
        ,'1'
        ,'STOCK'
        ,'1'
        ,'0'
		)
		
	INSERT INTO CATEGORIA_LOGICA VALUES(
		LTRIM(RTRIM(UPPER(@CLIENTE_ID)))
		,'ANALISIS_INV'
        ,'ANALISIS DE INVENTARIO'
        ,'0'
        ,'0'
        ,'STOCK'
        ,'0'
        ,'0'
        )
		
	INSERT INTO CATEGORIA_LOGICA VALUES(
		LTRIM(RTRIM(UPPER(@CLIENTE_ID)))
		,'DIF_INV'
        ,'DIFERENCIA INVENTARIO'
        ,'0'
        ,'0'
        ,'STOCK'
        ,'0'
        ,'0'
        )
		
	INSERT INTO CLIENTE_PARAMETROS (
        CLIENTE_ID,
        FLG_GUARDADO_CAMAS,
        PICK_VEHICULO,
        FLG_GEN_NEWPICKING,
        FLG_PICKING_CN,
        FLG_PALLET_HOMBRE,
        FLG_CONFIRMACION_POSICION,
        FLG_CROSSDOCK,
        TIPO_DOC_CROSSDOCK,
        NAVE_ID_CROSSDOCK,
        FLG_CONTROL_APF,
        FLG_PALLET_COMPLETO, 
        FLG_CONTROL_PICKING, 
        FLG_SOLICITA_LOTE ,
        FLG_ACTIVA_PC_PN ,
        FLG_TOMAR_RUTA ,
        FLG_CONTROL_EXP)
	VALUES(
        LTRIM(RTRIM(UPPER(@CLIENTE_ID))),
        '0',
        '0',
        '0',
        '0',
        '0',
        '0',
        '0',
        NULL,
        NULL,
        '0',
        '0',
        '0',
        '0',
        '0',
        '0',
        '0'
       ) 
	
END--FIN PROCEDURE