
CREATE PROCEDURE [dbo].[INSERT_SUCURSAL]
	@CLIENTE_ID					varchar (15)	OUTPUT
	,@SUCURSAL_ID				varchar (20)	OUTPUT
	,@NOMBRE					varchar (50)	OUTPUT
	,@TIPO_AGENTE_ID			varchar (20)	OUTPUT
	,@CALLE						varchar (50)	OUTPUT
	,@NUMERO					varchar (5)		OUTPUT
	,@CODIGO_POSTAL				varchar (10)	OUTPUT
	,@PROVINCIA_ID				varchar (5)		OUTPUT
	,@PAIS_ID					varchar (5)		OUTPUT
	,@ZONA_ID					varchar (5)		OUTPUT
	,@TELEFONO_1				varchar (20)	OUTPUT
	,@TELEFONO_2				varchar (20)	OUTPUT
	,@TELEFONO_3				varchar (20)	OUTPUT
	,@FAX						varchar (20)	OUTPUT
	,@PISO						varchar (10)	OUTPUT
	,@DEPARTAMENTO				varchar (10)	OUTPUT
	,@CONTACTO					varchar (50)	OUTPUT
	,@TIPO_DOCUMENTO_ID			varchar (5)		OUTPUT
	,@NRO_DOCUMENTO				varchar (20)	OUTPUT
	,@CATEGORIA_IMPOSITIVA_ID	varchar (5)		OUTPUT
	,@OBSERVACIONES				varchar (50)	OUTPUT
	,@CUENTA_EXTERNA			varchar (50)	OUTPUT
	,@CUENTA_EXTERNA_1			varchar (50)	OUTPUT
	,@CUENTA_EXTERNA_2			varchar (50)	OUTPUT
	,@TIPO_DOCUMENTO_ID_F		varchar (50)	OUTPUT
	,@TIPO_COMPROBANTE_ID		varchar (50)	OUTPUT
	,@NAVE_ID					varchar (50)	OUTPUT
	,@STATUS_LN					VARCHAR (10)	OUTPUT
	
AS
BEGIN
	SET XACT_ABORT ON
	SET NOCOUNT OFF
	DECLARE @COUNT SMALLINT
	SET @STATUS_LN='0';
	
	--VALIDACION DEL CLIENTE
	SELECT @COUNT=COUNT(*) FROM CLIENTE WHERE CLIENTE_ID=LTRIM(RTRIM(UPPER(@CLIENTE_ID)))
	IF @COUNT=0
	BEGIN
		SET @STATUS_LN='1';
		RETURN
	END
	SET @COUNT=NULL
	
	--VALIDACION DE LA SUCURSAL ID NO VACIA
	IF LTRIM(RTRIM(@SUCURSAL_ID))=''
	BEGIN
		SET @STATUS_LN='2';
		RETURN	
	END
	
	--VALIDACION DE LA SUCURSAL NO EXISTA PARA EL CLIENTE
	SELECT @COUNT=COUNT(*) FROM SUCURSAL WHERE CLIENTE_ID = LTRIM(RTRIM(UPPER(@CLIENTE_ID))) AND SUCURSAL_ID = LTRIM(RTRIM(UPPER(@SUCURSAL_ID)))
	IF @COUNT<>0
	BEGIN
		SET @STATUS_LN='3';
		RETURN
	END
	SET @COUNT=NULL
	
	--VALIDACION DE QUE EL NOMBRE NO SEA VACIO
	IF LTRIM(RTRIM(@NOMBRE))=''
	BEGIN
		SET @STATUS_LN='4';
		RETURN	
	END
	
	--VALIDACION DE QUE EL TIPO DE AGENTE NO SEA VACIO
	IF LTRIM(RTRIM(@TIPO_AGENTE_ID))=''
	BEGIN
		SET @STATUS_LN='5';
		RETURN	
	END
	SET @COUNT=NULL
	
	--VALIDACION DE QUE EXISTA EL TIPO DE AGENTE
	IF LTRIM(RTRIM(@TIPO_AGENTE_ID))<>''
	BEGIN
		SELECT @COUNT=COUNT(*) FROM TIPO_AGENTE WHERE TIPO_AGENTE_ID=LTRIM(RTRIM(UPPER(@TIPO_AGENTE_ID)))
		IF @COUNT=0
		BEGIN
			SET @STATUS_LN='6';
			RETURN
		END
	END
	SET @COUNT=NULL
	
	--VALIDACION DE QUE EL CODIGO POSTAL EXISTA PARA LA PROVINCIA Y PAIS	
	IF LTRIM(RTRIM(@CODIGO_POSTAL))<>'' AND LTRIM(RTRIM(@PAIS_ID))<>'' AND LTRIM(RTRIM(@PROVINCIA_ID))<>''
	BEGIN
		SELECT @COUNT=COUNT(*) FROM CODIGO_POSTAL WHERE PAIS_ID=LTRIM(RTRIM(UPPER(@PAIS_ID))) AND PROVINCIA_ID=LTRIM(RTRIM(UPPER(@PROVINCIA_ID))) AND CODIGO_POSTAL=LTRIM(RTRIM(UPPER(@CODIGO_POSTAL)))
		IF @COUNT=0
		BEGIN
			SET @STATUS_LN='7';
			RETURN	
		END
	END
	ELSE
	BEGIN
		SET @CODIGO_POSTAL=NULL
		SET @PAIS_ID=NULL
		SET @PROVINCIA_ID=NULL
	END
	SET @COUNT=NULL
	
	--VALIDACION DE QUE LA PROVINCIA EXISTA
	IF LTRIM(RTRIM(@PROVINCIA_ID))<>'' AND LTRIM(RTRIM(@PAIS_ID))<>''
	BEGIN
		SELECT @COUNT=COUNT(*) FROM PROVINCIA WHERE PAIS_ID=@PAIS_ID AND PROVINCIA_ID=LTRIM(RTRIM(UPPER(@PROVINCIA_ID)))
		IF @COUNT=0
		BEGIN
			SET @STATUS_LN='8';
			RETURN	
		END		
	END
	SET @COUNT=NULL
	
	--VALIDACION DE QUE EL PAIS INGRESADO EXISTA
	IF LTRIM(RTRIM(@PAIS_ID))<>''
	BEGIN
		SELECT @COUNT=COUNT(*) FROM PAIS WHERE PAIS_ID=LTRIM(RTRIM(UPPER(@PAIS_ID)))
		IF @COUNT=0
		BEGIN
			SET @STATUS_LN='9';
			RETURN	
		END		
	END
	SET @COUNT=NULL
		
	--VALIDACION DE QUE LA ZONA EXISTA
	IF LTRIM(RTRIM(@ZONA_ID))<>''
	BEGIN
		SELECT @COUNT=COUNT(*) FROM ZONA WHERE ZONA_ID=LTRIM(RTRIM(UPPER(@ZONA_ID)))
		IF @COUNT=0
		BEGIN
			SET @STATUS_LN='10';
			RETURN	
		END
	END
	SET @COUNT=NULL
	
	--VALIDACION DE QUE EXISTA EL TIPO DE DOCUMENTO
	IF LTRIM(RTRIM(@TIPO_DOCUMENTO_ID))<>''
	BEGIN
		SELECT @COUNT=COUNT(*) FROM TIPO_DOCUMENTO WHERE TIPO_DOCUMENTO_ID=LTRIM(RTRIM(UPPER(@TIPO_DOCUMENTO_ID)))
		IF @COUNT=0
		BEGIN
			SET @STATUS_LN='11';
			RETURN
		END
	END
	SET @COUNT=NULL
	
	--VALIDACION DE QUE EXISTA LA CATEGORIA IMPOSITIVA
	IF LTRIM(RTRIM(@CATEGORIA_IMPOSITIVA_ID))<>''
	BEGIN
		SELECT @COUNT=COUNT(*) FROM CATEGORIA_IMPOSITIVA WHERE CATEGORIA_IMPOSITIVA_ID=LTRIM(RTRIM(UPPER(@CATEGORIA_IMPOSITIVA_ID)))
		IF @COUNT=0
		BEGIN
			SET @STATUS_LN='12';
			RETURN
		END
	END
	SET @COUNT=NULL
	
	--VALIDACION DE QUE EXISTA EL TIPO DE DOCUMENTO INT
	IF LTRIM(RTRIM(@TIPO_DOCUMENTO_ID_F))<>''
	BEGIN
		SELECT @COUNT=COUNT(*) FROM sys_int_tipo_documento WHERE SUBSTRING(TIPO_DOCUMENTO_ID,1,1) = 'E' AND tipo_documento_id=LTRIM(RTRIM(UPPER(@TIPO_DOCUMENTO_ID_F)))
		IF @COUNT=0
		BEGIN
			SET @STATUS_LN='13';
			RETURN
		END
	END
	SET @COUNT=NULL

	--VALIDACION DE QUE EXISTA EL TIPO DE COMPROBANTE
	IF LTRIM(RTRIM(@TIPO_COMPROBANTE_ID))<>''
	BEGIN
		SELECT @COUNT=COUNT(*) FROM TIPO_COMPROBANTE WHERE TIPO_COMPROBANTE_ID=LTRIM(RTRIM(UPPER(@TIPO_COMPROBANTE_ID)))
		IF @COUNT=0
		BEGIN
			SET @STATUS_LN='14';
			RETURN
		END
	END
	SET @COUNT=NULL

	--VALIDACION DE QUE EXISTA LA NAVE
	IF LTRIM(RTRIM(@NAVE_ID))<>''
	BEGIN
		SELECT @COUNT=COUNT(*) FROM NAVE WHERE NAVE_ID=LTRIM(RTRIM(UPPER(@NAVE_ID)))
		IF @COUNT=0
		BEGIN
			SET @STATUS_LN='15';
			RETURN
		END
	END
	SET @COUNT=NULL

	--SI LLEGUE HASTA ACA ES PORQUE TODO ESTA OK.
	
	INSERT INTO SUCURSAL(
		 CLIENTE_ID					,SUCURSAL_ID			,NOMBRE
		,CALLE						,NUMERO					,CODIGO_POSTAL
		,PROVINCIA_ID				,PAIS_ID				,ZONA_ID
		,TELEFONO_1					,TELEFONO_2				,TELEFONO_3
		,FAX						,PISO					,DEPARTAMENTO
		,CONTACTO					,TIPO_DOCUMENTO_ID		,NRO_DOCUMENTO
		,CATEGORIA_IMPOSITIVA_ID	,OBSERVACIONES			,TIPO_AGENTE_ID
		,ACTIVA						,CUENTA_EXTERNA			,CUENTA_EXTERNA_1
		,CUENTA_EXTERNA_2			,CLIENTE_INTERNO		,GENERA_ING_AT

	)VALUES(
		 LTRIM(RTRIM(UPPER(@CLIENTE_ID))),
		 LTRIM(RTRIM(UPPER(@SUCURSAL_ID))),
		 CASE WHEN (LTRIM(RTRIM(UPPER(@NOMBRE)))= '') THEN NULL ELSE LTRIM(RTRIM(UPPER(@NOMBRE))) END,
		 CASE WHEN (LTRIM(RTRIM(UPPER(@CALLE)))= '') THEN NULL ELSE LTRIM(RTRIM(UPPER(@CALLE))) END,
		 CASE WHEN ((CAST(@NUMERO AS FLOAT))= '') THEN NULL ELSE (CAST(@NUMERO AS FLOAT)) END,
		 CASE WHEN (LTRIM(RTRIM(UPPER(@CODIGO_POSTAL)))= '') THEN NULL ELSE LTRIM(RTRIM(UPPER(@CODIGO_POSTAL))) END,
		 CASE WHEN (LTRIM(RTRIM(UPPER(@PROVINCIA_ID)))= '') THEN NULL ELSE LTRIM(RTRIM(UPPER(@PROVINCIA_ID))) END,
		 CASE WHEN (LTRIM(RTRIM(UPPER(@PAIS_ID)))= '') THEN NULL ELSE LTRIM(RTRIM(UPPER(@PAIS_ID))) END,
		 CASE WHEN (LTRIM(RTRIM(UPPER(@ZONA_ID)))= '') THEN NULL ELSE LTRIM(RTRIM(UPPER(@ZONA_ID))) END,
		 CASE WHEN (LTRIM(RTRIM(UPPER(@TELEFONO_1)))= '') THEN NULL ELSE LTRIM(RTRIM(UPPER(@TELEFONO_1))) END,
		 CASE WHEN (LTRIM(RTRIM(UPPER(@TELEFONO_2)))= '') THEN NULL ELSE LTRIM(RTRIM(UPPER(@TELEFONO_2))) END,
		 CASE WHEN (LTRIM(RTRIM(UPPER(@TELEFONO_3)))= '') THEN NULL ELSE LTRIM(RTRIM(UPPER(@TELEFONO_3))) END,
		 CASE WHEN (LTRIM(RTRIM(UPPER(@FAX)))= '') THEN NULL ELSE LTRIM(RTRIM(UPPER(@FAX))) END,
		 CASE WHEN (LTRIM(RTRIM(UPPER(@PISO)))= '') THEN NULL ELSE LTRIM(RTRIM(UPPER(@PISO))) END,
		 CASE WHEN (LTRIM(RTRIM(UPPER(@DEPARTAMENTO)))= '') THEN NULL ELSE LTRIM(RTRIM(UPPER(@DEPARTAMENTO))) END,
		 CASE WHEN (LTRIM(RTRIM(UPPER(@CONTACTO)))= '') THEN NULL ELSE LTRIM(RTRIM(UPPER(@CONTACTO))) END,
		 CASE WHEN (LTRIM(RTRIM(UPPER(@TIPO_DOCUMENTO_ID)))= '') THEN NULL ELSE LTRIM(RTRIM(UPPER(@TIPO_DOCUMENTO_ID))) END,
		 CASE WHEN (LTRIM(RTRIM(UPPER(@NRO_DOCUMENTO)))= '') THEN NULL ELSE LTRIM(RTRIM(UPPER(@NRO_DOCUMENTO))) END,
		 CASE WHEN (LTRIM(RTRIM(UPPER(@CATEGORIA_IMPOSITIVA_ID)))= '') THEN NULL ELSE LTRIM(RTRIM(UPPER(@CATEGORIA_IMPOSITIVA_ID))) END,
		 CASE WHEN (LTRIM(RTRIM(UPPER(@OBSERVACIONES)))= '') THEN NULL ELSE LTRIM(RTRIM(UPPER(@OBSERVACIONES))) END,
		 CASE WHEN (LTRIM(RTRIM(UPPER(@TIPO_AGENTE_ID)))= '') THEN NULL ELSE LTRIM(RTRIM(UPPER(@TIPO_AGENTE_ID))) END,
		 '1',
		 CASE WHEN (LTRIM(RTRIM(UPPER(@CUENTA_EXTERNA)))= '') THEN NULL ELSE LTRIM(RTRIM(UPPER(@CUENTA_EXTERNA))) END,
		 CASE WHEN (LTRIM(RTRIM(UPPER(@CUENTA_EXTERNA_1)))= '') THEN NULL ELSE LTRIM(RTRIM(UPPER(@CUENTA_EXTERNA_1))) END,
		 CASE WHEN (LTRIM(RTRIM(UPPER(@CUENTA_EXTERNA_2)))= '') THEN NULL ELSE LTRIM(RTRIM(UPPER(@CUENTA_EXTERNA_2))) END,
		 '1',
		 '0'
	)
	
END--FIN PROCEDURE
