
/****** Object:  StoredProcedure [dbo].[MOVE_PICKING_HIST]    Script Date: 04/25/2013 14:52:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[MOVE_PICKING_HIST]
@FECHA		AS VARCHAR(10) OUTPUT
AS
BEGIN
	DECLARE @MyFECHA AS DATETIME	
		
	IF @FECHA IS NOT NULL
	BEGIN
		
		SET @MyFECHA = CONVERT(VARCHAR,@FECHA, 103)
		
		INSERT INTO PICKING_HISTORICO
		SELECT 	*
		FROM 	PICKING
		WHERE	FACTURADO='1'
				AND CONVERT(VARCHAR,FECHA_FIN,103) <= @MyFECHA

		DELETE FROM PICKING	WHERE	FACTURADO='1' AND CONVERT(VARCHAR,FECHA_FIN,103) <= @MyFECHA
				AND PICKING_ID IN(SELECT PICKING_ID FROM PICKING_HISTORICO)

	END 
	IF @FECHA IS NULL
	BEGIN

		INSERT INTO PICKING_HISTORICO
		SELECT 	*
		FROM 	PICKING
		WHERE	FACTURADO='1'
				AND FECHA_CONTROL_FAC < DATEADD(DD,-120,GETDATE())

		DELETE FROM PICKING	WHERE FACTURADO='1' AND PICKING_ID IN(SELECT PICKING_ID FROM PICKING_HISTORICO)

	END 
END;
