
/****** Object:  StoredProcedure [dbo].[MIGRA_TRANSACCIONALES_HIST]    Script Date: 04/25/2013 14:45:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE    PROCEDURE [dbo].[MIGRA_TRANSACCIONALES_HIST]
AS
BEGIN

	DECLARE @DOCUMENTO_ID 	NUMERIC(20,0);
	DECLARE @DOC_TRANS_ID	NUMERIC(20,0);
	DECLARE @CUR			CURSOR;
	DECLARE @ROWCOUNT		INT;
	DECLARE @F_MOV			DATETIME;
	DECLARE @CONT			BIGINT;
	SET NOCOUNT ON;

	SET @F_MOV =DATEADD(dd,-120,GETDATE())
	
	EXEC MOVE_PICKING_HIST NULL
	-------------------------------------------------------------------------------------------------------------------------------------
	SET @CUR= CURSOR FOR
		--DE ACA SACO LOS INGRESOS
		SELECT 	D.DOCUMENTO_ID
		FROM	DOCUMENTO D
				INNER JOIN DET_DOCUMENTO DD					ON(D.DOCUMENTO_ID=DD.DOCUMENTO_ID)
				INNER JOIN DET_DOCUMENTO_TRANSACCION DDT	ON(DD.DOCUMENTO_ID=DDT.DOCUMENTO_ID AND DD.NRO_LINEA=DDT.NRO_LINEA_DOC)
				INNER JOIN DOCUMENTO_TRANSACCION DT			ON(DDT.DOC_TRANS_ID=DT.DOC_TRANS_ID)
		WHERE 	D.STATUS IN('D40','D99') 
				AND DT.STATUS='T40'AND		
				D.TIPO_OPERACION_ID='ING'
				AND DDT.DOC_TRANS_ID NOT IN(SELECT 	DOC_TRANS_ID 
											FROM 	RL_DET_DOC_TRANS_POSICION
											WHERE 	RL_DET_DOC_TRANS_POSICION.DOC_TRANS_ID=DDT.DOC_TRANS_ID)
				AND DD.DOCUMENTO_ID NOT IN (SELECT 	X.DOCUMENTO_ID
											FROM	(	SELECT 	DISTINCT
																DOC_TRANS_ID,DOCUMENTO_ID 
														FROM 	DET_DOCUMENTO_TRANSACCION 
														WHERE DOCUMENTO_ID=DD.DOCUMENTO_ID
													)AS X
											GROUP BY X.DOCUMENTO_ID
											HAVING  COUNT(DOC_TRANS_ID)>1)
		UNION 
		--DE ACA SACO LOS EGRESOS.
		SELECT 	DISTINCT 
				D.DOCUMENTO_ID
		FROM	DOCUMENTO D
				INNER JOIN DET_DOCUMENTO DD					ON(D.DOCUMENTO_ID=DD.DOCUMENTO_ID)
				INNER JOIN DET_DOCUMENTO_TRANSACCION DDT	ON(DD.DOCUMENTO_ID=DDT.DOCUMENTO_ID AND DD.NRO_LINEA=DDT.NRO_LINEA_DOC)
				INNER JOIN DOCUMENTO_TRANSACCION DT			ON(DDT.DOC_TRANS_ID=DT.DOC_TRANS_ID)
		WHERE 	D.STATUS IN('D40','D99') AND DT.STATUS='T40'AND		D.TIPO_OPERACION_ID='EGR'
				and not exists (select 1 from picking pick where pick.documento_id=dd.documento_id and pick.nro_linea=dd.nro_linea)
				AND DDT.DOC_TRANS_ID NOT IN(SELECT 	DOC_TRANS_ID_EGR
											FROM 	RL_DET_DOC_TRANS_POSICION
											WHERE 	RL_DET_DOC_TRANS_POSICION.DOC_TRANS_ID=DDT.DOC_TRANS_ID)
		ORDER BY D.DOCUMENTO_ID;
	-------------------------------------------------------------------------------------------------------------------------------------
	SET @CONT=0
	OPEN @CUR
	FETCH NEXT FROM @CUR INTO @DOCUMENTO_ID		--PRIMER REGISTRO.
	WHILE @@FETCH_STATUS=0
	BEGIN
		SET @CONT=@CONT +1 
		--PRINT('CONTEO: ' +CAST(@CONT AS VARCHAR))
		BEGIN TRANSACTION
		--OBTENGO EL DOC_TRANS_ID PARA EVITAR LOS JOINS
		SELECT	DISTINCT @DOC_TRANS_ID=DOC_TRANS_ID 
		FROM	DET_DOCUMENTO_TRANSACCION 
		WHERE	DOCUMENTO_ID=@DOCUMENTO_ID;
		IF (@DOCUMENTO_ID IS NOT NULL) AND (@DOC_TRANS_ID IS NOT NULL)
		BEGIN
			BEGIN TRY
				----------------------------------------------------------------------------
				INSERT INTO DET_DOCUMENTO_TRANSACCION_HISTORICO
					SELECT 	DDT.* 
					FROM	DET_DOCUMENTO_TRANSACCION DDT 
					WHERE	DOC_TRANS_ID=@DOC_TRANS_ID;

				DELETE FROM DET_DOCUMENTO_TRANSACCION WHERE DOC_TRANS_ID=@DOC_TRANS_ID;
				----------------------------------------------------------------------------	
				INSERT INTO DOCUMENTO_TRANSACCION_HISTORICO
					SELECT 	DT.*
					FROM	DOCUMENTO_TRANSACCION DT
					WHERE	DOC_TRANS_ID=@DOC_TRANS_ID;
		
				DELETE FROM DOCUMENTO_TRANSACCION WHERE DOC_TRANS_ID=@DOC_TRANS_ID;
				----------------------------------------------------------------------------	
				INSERT INTO DET_DOCUMENTO_HISTORICO
					SELECT 	DD.*
					FROM	DET_DOCUMENTO DD
					WHERE	DD.DOCUMENTO_ID=@DOCUMENTO_ID;

				DELETE FROM SYS_LOCATOR_ING WHERE DOCUMENTO_ID=@DOCUMENTO_ID;

				DELETE FROM DET_DOCUMENTO WHERE DOCUMENTO_ID=@DOCUMENTO_ID;
				----------------------------------------------------------------------------	
				INSERT INTO DOCUMENTO_HISTORICO
					SELECT 	D.*
					FROM	DOCUMENTO D
					WHERE	DOCUMENTO_ID=@DOCUMENTO_ID;

				DELETE FROM DOCUMENTO WHERE DOCUMENTO_ID=@DOCUMENTO_ID;
				----------------------------------------------------------------------------	
				INSERT INTO Picking_Historico
					SELECT 	P.*
					FROM	PICKING P
					WHERE	DOCUMENTO_ID=@DOCUMENTO_ID;

				DELETE FROM PICKING WHERE DOCUMENTO_ID=@DOCUMENTO_ID;
				----------------------------------------------------------------------------					
				COMMIT TRANSACTION;
			END TRY		
			BEGIN CATCH		
				ROLLBACK TRANSACTION;
				--PRINT('DOCUMENTO_ID: %d , DOC_TRANS_ID: %d',16,1,@DOCUMENTO_ID, @DOC_TRANS_ID);
			END CATCH
		END
		FETCH NEXT FROM @CUR INTO @DOCUMENTO_ID	--SIGUIENTE REGISTRO.
	END --FIN WHILE CURSOR

	CLOSE @CUR
	DEALLOCATE @CUR
	
	SET NOCOUNT OFF;
END -- FIN PROCEDIMIENTO	




