


ALTER     PROCEDURE [dbo].[FUNCIONES_FRONTERA_API#GET_INFO_PALLETS]
@TIPO_QUERY	AS INT OUTPUT
AS
BEGIN
	IF @TIPO_QUERY=1
	BEGIN
		--Tareas tomadas.
		SELECT 	DISTINCT X.*
		FROM	
			(
				SELECT  DD.PROP1 AS NRO_PALLET,DD.PRODUCTO_ID,P.DESCRIPCION, SUM(DD.CANTIDAD) AS CANTIDAD, N.NAVE_COD,
						CASE ISNULL(S.LOCK,'0') 
							WHEN '0' THEN 'NO TOMADO'
							WHEN '1' THEN 'EN PROGRESO'
						END AS STATUS,
						SU.NOMBRE,
						S.FECHA_LOCK AS FECHA_TOMADO,D.ORDEN_DE_COMPRA, DD.DOCUMENTO_ID,DD.NRO_LINEA 
				FROM	DET_DOCUMENTO DD (nolock)
						INNER JOIN DET_DOCUMENTO_TRANSACCION DDT (nolock)
						ON(DD.DOCUMENTO_ID=DDT.DOCUMENTO_ID AND DD.NRO_LINEA=DDT.NRO_LINEA_DOC)
						INNER JOIN RL_DET_DOC_TRANS_POSICION RL (nolock)
						ON(DDT.DOC_TRANS_ID=RL.DOC_TRANS_ID AND DDT.NRO_LINEA_TRANS=RL.NRO_LINEA_TRANS)
						INNER JOIN NAVE N (nolock)
						ON(RL.NAVE_ACTUAL=N.NAVE_ID)
						INNER JOIN DOCUMENTO D (nolock)
						ON(D.DOCUMENTO_ID=DD.DOCUMENTO_ID)
						LEFT JOIN SYS_LOCK_PALLET S (nolock)
						ON(DD.DOCUMENTO_ID=S.DOCUMENTO_ID AND DD.NRO_LINEA=S.NRO_LINEA)
						LEFT JOIN SYS_USUARIO SU (nolock)
						ON(S.USUARIO_ID=SU.USUARIO_ID)
						INNER JOIN PRODUCTO P (nolock)
						ON(DD.CLIENTE_ID=P.CLIENTE_ID AND DD.PRODUCTO_ID=P.PRODUCTO_ID)
				WHERE	D.STATUS IN('D30','D35')  
						AND N.PRE_INGRESO='1' 
						AND S.LOCK='1'
						--AND PROP1 IS NOT NULL
				GROUP BY	
						DD.PROP1, DD.PRODUCTO_ID, P.DESCRIPCION, N.NAVE_COD, S.LOCK,SU.NOMBRE,S.FECHA_LOCK,D.ORDEN_DE_COMPRA, DD.DOCUMENTO_ID,DD.NRO_LINEA 
				UNION ALL
				
				SELECT  	DD.PROP1 AS NRO_PALLET, DD.PRODUCTO_ID, P.DESCRIPCION, SUM(DD.CANTIDAD) AS CANTIDAD, N.NAVE_COD, 
						CASE ISNULL(S.LOCK,'0') 
							WHEN '0' THEN 'NO TOMADO'
							WHEN '1' THEN 'EN PROGRESO'
						END AS STATUS,
						SU.NOMBRE,
						S.FECHA_LOCK AS FECHA_TOMADO,D.ORDEN_DE_COMPRA, DD.DOCUMENTO_ID,DD.NRO_LINEA 
				FROM	DET_DOCUMENTO DD (nolock)
						INNER JOIN DET_DOCUMENTO_TRANSACCION DDT (nolock)
						ON(DD.DOCUMENTO_ID=DDT.DOCUMENTO_ID AND DD.NRO_LINEA=DDT.NRO_LINEA_DOC)
						INNER JOIN RL_DET_DOC_TRANS_POSICION RL (nolock)
						ON(DDT.DOC_TRANS_ID=RL.DOC_TRANS_ID AND DDT.NRO_LINEA_TRANS=RL.NRO_LINEA_TRANS)
						INNER JOIN NAVE N (nolock)
						ON(RL.NAVE_ACTUAL=N.NAVE_ID)
						INNER JOIN DOCUMENTO D (nolock)
						ON(D.DOCUMENTO_ID=DD.DOCUMENTO_ID)
						LEFT JOIN SYS_LOCK_PALLET S (nolock)
						ON(DD.DOCUMENTO_ID=S.DOCUMENTO_ID AND DD.NRO_LINEA=S.NRO_LINEA)
						LEFT JOIN SYS_USUARIO SU (nolock)
						ON(S.USUARIO_ID=SU.USUARIO_ID)
						INNER JOIN PRODUCTO P (nolock)
						ON(DD.CLIENTE_ID=P.CLIENTE_ID AND DD.PRODUCTO_ID=P.PRODUCTO_ID)
				WHERE	D.STATUS IN('D30','D35')  AND N.INTERMEDIA='1' 
						AND S.LOCK='1'
						--AND DD.PROP1 IS NOT NULL
				GROUP BY	
						DD.PROP1, DD.PRODUCTO_ID, P.DESCRIPCION, N.NAVE_COD, S.LOCK,SU.NOMBRE,S.FECHA_LOCK,D.ORDEN_DE_COMPRA, DD.DOCUMENTO_ID,DD.NRO_LINEA 
			) AS X 
	END
	ELSE
	BEGIN
		SELECT 	DISTINCT X.*
		FROM	
		(
			SELECT  DD.PROP1 AS NRO_PALLET,DD.PRODUCTO_ID,P.DESCRIPCION, SUM(DD.CANTIDAD) AS CANTIDAD, N.NAVE_COD, D.FECHA_CPTE,D.ORDEN_DE_COMPRA, DD.DOCUMENTO_ID,DD.NRO_LINEA 
			FROM	DET_DOCUMENTO DD (nolock)
					INNER JOIN DET_DOCUMENTO_TRANSACCION DDT (nolock)
					ON(DD.DOCUMENTO_ID=DDT.DOCUMENTO_ID AND DD.NRO_LINEA=DDT.NRO_LINEA_DOC)
					INNER JOIN RL_DET_DOC_TRANS_POSICION RL (nolock)
					ON(DDT.DOC_TRANS_ID=RL.DOC_TRANS_ID AND DDT.NRO_LINEA_TRANS=RL.NRO_LINEA_TRANS)
					INNER JOIN NAVE N (nolock)
					ON(RL.NAVE_ACTUAL=N.NAVE_ID)
					INNER JOIN DOCUMENTO D (nolock)
					ON(D.DOCUMENTO_ID=DD.DOCUMENTO_ID)
					INNER JOIN PRODUCTO P (nolock)
					ON(DD.CLIENTE_ID=P.CLIENTE_ID AND DD.PRODUCTO_ID=P.PRODUCTO_ID)
			WHERE	D.STATUS IN('D30','D35')  
					AND N.PRE_INGRESO='1' 
					AND  NOT EXISTS (	SELECT 	1
										FROM	SYS_LOCK_PALLET SL(nolock)
										WHERE	LOCK='1' 
												AND SL.DOCUMENTO_ID=DD.DOCUMENTO_ID
												AND SL.Nro_Linea =DD.NRO_LINEA 
											) 
					GROUP BY	DD.PROP1, DD.PRODUCTO_ID, P.DESCRIPCION, N.NAVE_COD, D.FECHA_CPTE,D.ORDEN_DE_COMPRA, DD.DOCUMENTO_ID,DD.NRO_LINEA 
			UNION ALL
			
			SELECT  DD.PROP1 AS NRO_PALLET, DD.PRODUCTO_ID, P.DESCRIPCION, SUM(DD.CANTIDAD) AS CANTIDAD, N.NAVE_COD, D.FECHA_CPTE,D.ORDEN_DE_COMPRA,DD.DOCUMENTO_ID,DD.NRO_LINEA 
			FROM	DET_DOCUMENTO DD (nolock)
					INNER JOIN DET_DOCUMENTO_TRANSACCION DDT (nolock)
					ON(DD.DOCUMENTO_ID=DDT.DOCUMENTO_ID AND DD.NRO_LINEA=DDT.NRO_LINEA_DOC)
					INNER JOIN RL_DET_DOC_TRANS_POSICION RL (nolock)
					ON(DDT.DOC_TRANS_ID=RL.DOC_TRANS_ID AND DDT.NRO_LINEA_TRANS=RL.NRO_LINEA_TRANS)
					INNER JOIN NAVE N (nolock)
					ON(RL.NAVE_ACTUAL=N.NAVE_ID)
					INNER JOIN DOCUMENTO D (nolock)
					ON(D.DOCUMENTO_ID=DD.DOCUMENTO_ID)
					INNER JOIN PRODUCTO P (nolock)
					ON(DD.CLIENTE_ID=P.CLIENTE_ID AND DD.PRODUCTO_ID=P.PRODUCTO_ID)
			WHERE	D.STATUS IN('D30','D35') 
					AND N.INTERMEDIA='1' 
					AND  NOT EXISTS (	SELECT 	1
										FROM	SYS_LOCK_PALLET SL(nolock)
										WHERE	LOCK='1' 
												AND SL.DOCUMENTO_ID=DD.DOCUMENTO_ID
												AND SL.Nro_Linea =DD.NRO_LINEA 
											) 
					--AND DD.PROP1 IS NOT NULL
			GROUP BY	DD.PROP1, DD.PRODUCTO_ID, P.DESCRIPCION, N.NAVE_COD, D.FECHA_CPTE,D.ORDEN_DE_COMPRA, DD.DOCUMENTO_ID,DD.NRO_LINEA 
		) AS X
	END 
END









