ALTER PROCEDURE [dbo].[SYS_DEV_EGRESO_DESKTOP]
	@DOCUMENTO_ID AS NUMERIC(20,0) OUTPUT
AS
	DECLARE @DOC_EXT AS VARCHAR(100)
	DECLARE @QTY AS NUMERIC(3,0)
	DECLARE @ERRORSAVE INT
	DECLARE @TIPOCOMP	AS VARCHAR(5)
	DECLARE @USUARIO 	AS VARCHAR(20)
	
BEGIN
	--CONTROLO QUE EL VIAJE TENGA TODOS LOS PICKING'S CERRADOS
	SET @QTY=0
	SELECT @QTY=COUNT(PICKING_ID) FROM PICKING 
		WHERE (FIN_PICKING IN ('0','1') OR FIN_PICKING IS NULL) AND DOCUMENTO_ID=@DOCUMENTO_ID
	IF (@QTY>0) 
		BEGIN
			RAISERROR('AUN QUEDAN PRODUCTOS PENDIENTES POR PICKEAR',16,1)
			RETURN 	
	END--IF
	
	BEGIN
		--HAGO LA DEVOLUCION EN BASE AL DOCUMENTO
		INSERT INTO SYS_DEV_DOCUMENTO
		SELECT DISTINCT	D.CLIENTE_ID
			,CASE WHEN D.TIPO_COMPROBANTE_ID='E04' THEN 'E05' ELSE 'E06' END
			,D.CPTE_PREFIJO
			,D.CPTE_NUMERO
			,GETDATE()
			,D.FECHA_CPTE
			,D.SUCURSAL_DESTINO
			,D.PESO_TOTAL
			,D.UNIDAD_PESO
			,D.VOLUMEN_TOTAL
			,D.UNIDAD_VOLUMEN
			,D.TOTAL_BULTOS
			,D.ORDEN_DE_COMPRA
			,D.OBSERVACIONES
			,CAST(D.CPTE_PREFIJO AS VARCHAR(20)) + '-' + CAST(D.CPTE_NUMERO  AS VARCHAR(20))
			,D.NRO_DESPACHO_IMPORTACION
			,(CASE WHEN D.TIPO_COMPROBANTE_ID='E04' THEN 'E05' ELSE D.TIPO_COMPROBANTE_ID END) + '-' + CAST(D.DOCUMENTO_ID AS VARCHAR(100))--DOC_EXT
			,D.NRO_DESPACHO_IMPORTACION--CODIGO_VIAJE
			,NULL
			,NULL
			,NULL
			,D.TIPO_COMPROBANTE_ID
			,NULL
			,NULL
			,'P'
			,GETDATE()
			,NULL --FLG_MOVIMIENTO
			,NULL --CUSTOMS_1
			,NULL --CUSTOMS_2
			,NULL  --CUSTOMS_3

		FROM DOCUMENTO D
			WHERE DOCUMENTO_ID = @DOCUMENTO_ID
			
	IF @@ERROR <> 0 
	BEGIN
		SET @ERRORSAVE = @@ERROR
		RAISERROR('ERROR AL INSERTAR EN SYS_DEV_DOCUMENTO, CODIGO_ERROR: %S',16,1,@ERRORSAVE)
		RETURN
	END
	
	INSERT INTO SYS_DEV_DET_DOCUMENTO
		SELECT (CASE WHEN D.TIPO_COMPROBANTE_ID='E04' THEN 'E05' ELSE D.TIPO_COMPROBANTE_ID END) + '-' + CAST(D.DOCUMENTO_ID AS VARCHAR(100)) AS DOC_EXT
			,P.PICKING_ID AS NRO_LINEA
			,DD.CLIENTE_ID
			,DD.PRODUCTO_ID
			,DD.CANTIDAD
			,P.CANT_CONFIRMADA
			,DD.EST_MERC_ID
			,DD.CAT_LOG_ID_FINAL
			,DD.NRO_BULTO--NULL AS NRO_BULTO
			,DD.DESCRIPCION
			,DD.NRO_LOTE
			,DD.PROP1 AS NRO_PALLET
			,DD.FECHA_VENCIMIENTO
			,DD.NRO_DESPACHO
			,DD.NRO_PARTIDA
			,DD.UNIDAD_ID
			,NULL AS UNIDAD_CONTENEDORA_ID
			,NULL AS PESO
			,NULL AS UNIDAD_PESO
			,NULL AS VOLUMEN
			,NULL AS UNIDAD_VOLUMEN
			,DBO.GET_PROPERTY(DD.CLIENTE_ID,D.NRO_REMITO,DD.PRODUCTO_ID,1) AS PROP1
			,DBO.GET_PROPERTY(DD.CLIENTE_ID,D.NRO_REMITO,DD.PRODUCTO_ID,2) AS PROP2
			,DBO.GET_PROPERTY(DD.CLIENTE_ID,D.NRO_REMITO,DD.PRODUCTO_ID,3) AS PROP3
			,NULL AS LARGO
			,NULL AS ALTO
			,DD.NRO_LINEA AS ANCHO --NRO DE LINEA
			,NULL AS DOC_BACK_ORDER
			,NULL AS ESTADO
			,NULL AS FECHA_ESTADO
			,'P' AS ESTADO_GT
			,GETDATE() AS FECHA_ESTADO_GT
			,P.DOCUMENTO_ID
			,DBO.AJ_NAVECOD_TO_NAVE_ID(P.NAVE_COD) AS NAVE_ID
			,P.NAVE_COD	
			,NULL--FLG_MOVIMIENTO
			,NULL--CUSTOMS_1
			,NULL--CUSTOMS_2
			,NULL--CUSTOMS_3
	FROM 	DET_DOCUMENTO DD
			INNER JOIN DOCUMENTO D ON (DD.DOCUMENTO_ID=D.DOCUMENTO_ID)
			INNER JOIN PICKING P ON (DD.DOCUMENTO_ID=P.DOCUMENTO_ID AND DD.NRO_LINEA=P.NRO_LINEA)
	WHERE
			P.DOCUMENTO_ID = @DOCUMENTO_ID

	IF @@ERROR <> 0 
	BEGIN
		SET @ERRORSAVE = @@ERROR
		RAISERROR('ERROR AL INSERTAR EN SYS_DEV_DET_DOCUMENTO, CODIGO_ERROR: %S',16,1,@ERRORSAVE)
		RETURN
	END

	--ACTUALIZO LA FACTURACION
	
	SELECT @USUARIO=USUARIO_ID FROM #TEMP_USUARIO_LOGGIN
	
	UPDATE 	PICKING 
		SET	FACTURADO='1',
			FECHA_CONTROL_FAC=GETDATE(),
			USUARIO_CONTROL_FAC=@USUARIO,
			TERMINAL_CONTROL_FAC=HOST_NAME()
		WHERE DOCUMENTO_ID = @DOCUMENTO_ID

	IF @@ERROR <> 0 
	BEGIN
		SET @ERRORSAVE = @@ERROR
		RAISERROR('ERROR AL REALIZAR LA ACTUALIZACION EN CIERRE DE PICKING, CODIGO_ERROR: %S',16,1,@ERRORSAVE)
		RETURN
	END
	
	END
END