IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[quitar_producto_empaque]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[quitar_producto_empaque]
GO
-- =============================================
-- Author:		LRojas
-- Create date: 19/04/2012
-- Description:	Procedimiento para quitar unidades empaquetadas
-- =============================================
create PROCEDURE [dbo].[quitar_producto_empaque]
	@CLIENTE_ID         as varchar(15) OUTPUT,
	@PEDIDO_ID          as varchar(100) OUTPUT,
	@NRO_LOTE			AS VARCHAR(100) OUTPUT,
	@NRO_PARTIDA		AS VARCHAR(100) OUTPUT,
	@NRO_SERIE			AS VARCHAR(50) OUTPUT,
	@PRODUCTO_ID        as varchar(30) OUTPUT,
    @NRO_CONTENEDORA    as numeric(20) OUTPUT,
    @CANT_CONTROLADA    as numeric(20,5) OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
    
    DECLARE @NRO_LINEA as numeric(10),
            @CANT_CONFIRMADA as numeric(20,5),
            @CANTIDAD_EMPAQUE as numeric(20,5),
            @CANTIDAD as numeric(20,5)
    
    DELETE TMP_EMPAQUE_CONTENEDORA WHERE CLIENTE_ID = @CLIENTE_ID AND NRO_REMITO = @PEDIDO_ID AND PRODUCTO_ID = @PRODUCTO_ID AND ISNULL(NRO_LOTE,'') = ISNULL(@NRO_LOTE,'') AND ISNULL(NRO_PARTIDA,'') = ISNULL(@NRO_PARTIDA,'') AND ISNULL(NRO_SERIE,'') = ISNULL(@NRO_SERIE,'')
    
    INSERT INTO TMP_EMPAQUE_CONTENEDORA
    SELECT D.NRO_REMITO, P.*
    FROM DOCUMENTO D INNER JOIN PICKING P ON(D.DOCUMENTO_ID = P.DOCUMENTO_ID) 
    WHERE D.CLIENTE_ID = @CLIENTE_ID AND D.NRO_REMITO = @PEDIDO_ID AND P.PRODUCTO_ID = @PRODUCTO_ID
    AND P.PALLET_PICKING = @NRO_CONTENEDORA AND ISNULL(NRO_LOTE,'') = ISNULL(@NRO_LOTE,'') AND ISNULL(NRO_PARTIDA,'') = ISNULL(@NRO_PARTIDA,'') AND ISNULL(NRO_SERIE,'') = ISNULL(@NRO_SERIE,'')
	UNION
    SELECT D.NRO_REMITO, P.*
    FROM DOCUMENTO D INNER JOIN PICKING P ON(D.DOCUMENTO_ID = P.DOCUMENTO_ID) 
    WHERE D.CLIENTE_ID = @CLIENTE_ID AND D.NRO_REMITO = @PEDIDO_ID AND P.PRODUCTO_ID = @PRODUCTO_ID
    AND P.PALLET_CONTROLADO = '0' AND ISNULL(NRO_LOTE,'') = ISNULL(@NRO_LOTE,'') AND ISNULL(NRO_PARTIDA,'') = ISNULL(@NRO_PARTIDA,'') AND ISNULL(NRO_SERIE,'') = ISNULL(@NRO_SERIE,'')
	
    DECLARE cur_linea CURSOR FOR
    SELECT DISTINCT NRO_LINEA, CANT_CONFIRMADA
    FROM TMP_EMPAQUE_CONTENEDORA
    WHERE CLIENTE_ID = @CLIENTE_ID AND NRO_REMITO = @PEDIDO_ID AND PRODUCTO_ID = @PRODUCTO_ID
    AND PALLET_CONTROLADO <> '0' AND ISNULL(NRO_LOTE,'') = ISNULL(@NRO_LOTE,'') AND ISNULL(NRO_PARTIDA,'') = ISNULL(@NRO_PARTIDA,'') AND ISNULL(NRO_SERIE,'') = ISNULL(@NRO_SERIE,'')
    
    OPEN cur_linea 
    FETCH cur_linea
    INTO @NRO_LINEA, @CANT_CONFIRMADA
    
    WHILE (@@FETCH_STATUS = 0 AND @CANT_CONTROLADA > 0)
        BEGIN
            
            IF @CANT_CONTROLADA > @CANT_CONFIRMADA
                BEGIN
                    SET @CANTIDAD_EMPAQUE = @CANT_CONFIRMADA
                    SET @CANT_CONTROLADA = @CANT_CONTROLADA - @CANT_CONFIRMADA
                END
            ELSE
                BEGIN
                    SET @CANTIDAD_EMPAQUE = @CANT_CONTROLADA
                    SET @CANT_CONTROLADA = @CANT_CONTROLADA - @CANT_CONFIRMADA
                END
            
            UPDATE TMP_EMPAQUE_CONTENEDORA
            SET CANTIDAD = CANT_CONFIRMADA - @CANTIDAD_EMPAQUE,
                CANT_CONFIRMADA = CANT_CONFIRMADA - @CANTIDAD_EMPAQUE
            WHERE NRO_LINEA = @NRO_LINEA AND CLIENTE_ID = @CLIENTE_ID AND NRO_REMITO = @PEDIDO_ID 
            AND PRODUCTO_ID = @PRODUCTO_ID AND PALLET_PICKING = @NRO_CONTENEDORA AND PALLET_CONTROLADO <> '0'
            
            SELECT @CANTIDAD = CANTIDAD
            FROM TMP_EMPAQUE_CONTENEDORA
            WHERE NRO_LINEA = @NRO_LINEA AND CLIENTE_ID = @CLIENTE_ID AND NRO_REMITO = @PEDIDO_ID 
            AND PRODUCTO_ID = @PRODUCTO_ID AND PALLET_PICKING = @NRO_CONTENEDORA AND PALLET_CONTROLADO <> '0'
            AND CANT_CONFIRMADA = 0
            
            IF @CANTIDAD IS NULL
				SET @CANTIDAD = 0
            
            IF EXISTS(
                    SELECT 1 FROM TMP_EMPAQUE_CONTENEDORA 
                    WHERE NRO_LINEA = @NRO_LINEA AND CLIENTE_ID = @CLIENTE_ID 
                    AND NRO_REMITO = @PEDIDO_ID AND PRODUCTO_ID = @PRODUCTO_ID  
                    AND PALLET_CONTROLADO = '0'
                )
                BEGIN
                    UPDATE TMP_EMPAQUE_CONTENEDORA
                    SET CANTIDAD = CANTIDAD + @CANTIDAD_EMPAQUE + @CANTIDAD,
                        CANT_CONFIRMADA = CANT_CONFIRMADA + @CANTIDAD_EMPAQUE
                    WHERE NRO_LINEA = @NRO_LINEA AND CLIENTE_ID = @CLIENTE_ID 
                    AND NRO_REMITO = @PEDIDO_ID AND PRODUCTO_ID = @PRODUCTO_ID 
                    AND PALLET_CONTROLADO = '0'
                END
            ELSE
                INSERT INTO TMP_EMPAQUE_CONTENEDORA
                SELECT D.NRO_REMITO, P.PICKING_ID, P.DOCUMENTO_ID, P.NRO_LINEA, P.CLIENTE_ID, P.PRODUCTO_ID, P.VIAJE_ID, P.TIPO_CAJA, P.DESCRIPCION, 
                       P.CANTIDAD - (P.CANT_CONFIRMADA - @CANTIDAD_EMPAQUE) [CANTIDAD], 
                       P.NAVE_COD, P.POSICION_COD, P.RUTA, P.PROP1, P.FECHA_INICIO, P.FECHA_FIN, P.USUARIO, 
                       @CANTIDAD_EMPAQUE [CANT_CONFIRMADA], -- Cantidad Controlada
                       @NRO_CONTENEDORA [PALLET_PICKING], -- Nro Contenedora
                       P.SALTO_PICKING, 
                       '0' [PALLET_CONTROLADO], -- No esta en Contenedora
                       P.USUARIO_CONTROL_PICK, P.ST_ETIQUETAS, P.ST_CAMION, P.FACTURADO, P.FIN_PICKING, P.ST_CONTROL_EXP, P.FECHA_CONTROL_PALLET, 
                       P.TERMINAL_CONTROL_PALLET, P.FECHA_CONTROL_EXP, P.USUARIO_CONTROL_EXP, P.TERMINAL_CONTROL_EXP, P.FECHA_CONTROL_FAC, 
                       P.USUARIO_CONTROL_FAC, P.TERMINAL_CONTROL_FAC, P.VEHICULO_ID, P.PALLET_COMPLETO, P.HIJO, P.QTY_CONTROLADO, P.PALLET_FINAL, 
                       P.PALLET_CERRADO, P.USUARIO_PF, P.TERMINAL_PF, P.REMITO_IMPRESO, P.NRO_REMITO_PF, P.PICKING_ID_REF, P.BULTOS_CONTROLADOS, 
                       P.BULTOS_NO_CONTROLADOS, P.FLG_PALLET_HOMBRE, P.TRANSF_TERMINADA,P.NRO_LOTE,P.NRO_PARTIDA,P.NRO_SERIE
                FROM DOCUMENTO D INNER JOIN PICKING P ON(D.DOCUMENTO_ID = P.DOCUMENTO_ID) 
                WHERE P.NRO_LINEA = @NRO_LINEA AND D.CLIENTE_ID = @CLIENTE_ID AND D.NRO_REMITO = @PEDIDO_ID AND P.PRODUCTO_ID = @PRODUCTO_ID 
                AND PALLET_PICKING = @NRO_CONTENEDORA AND P.PALLET_CONTROLADO <> '0'
            
            DELETE PICKING
            WHERE CLIENTE_ID = @CLIENTE_ID AND PRODUCTO_ID = @PRODUCTO_ID 
            AND PALLET_PICKING = @NRO_CONTENEDORA AND PALLET_CONTROLADO <> '0'
            AND PICKING_ID IN(SELECT PICKING_ID FROM TMP_EMPAQUE_CONTENEDORA 
                            WHERE NRO_LINEA = @NRO_LINEA AND CLIENTE_ID = @CLIENTE_ID 
                            AND NRO_REMITO = @PEDIDO_ID AND PRODUCTO_ID = @PRODUCTO_ID 
                            AND PALLET_PICKING = @NRO_CONTENEDORA AND PALLET_CONTROLADO <> '0' 
                            AND CANT_CONFIRMADA = 0)
            
            UPDATE PICKING
            SET CANTIDAD = TMP.CANTIDAD,
                CANT_CONFIRMADA = TMP.CANT_CONFIRMADA
            FROM TMP_EMPAQUE_CONTENEDORA TMP 
            WHERE TMP.NRO_LINEA = @NRO_LINEA AND TMP.CLIENTE_ID = @CLIENTE_ID AND TMP.NRO_REMITO = @PEDIDO_ID
            AND TMP.PRODUCTO_ID = @PRODUCTO_ID AND TMP.PALLET_CONTROLADO <> '0'
            AND PICKING.PICKING_ID = TMP.PICKING_ID
            
            IF NOT EXISTS(SELECT 1 
                            FROM DOCUMENTO D INNER JOIN PICKING P ON(D.DOCUMENTO_ID = P.DOCUMENTO_ID) 
                            WHERE P.NRO_LINEA = @NRO_LINEA AND D.CLIENTE_ID = @CLIENTE_ID 
                            AND D.NRO_REMITO = @PEDIDO_ID AND PRODUCTO_ID = @PRODUCTO_ID 
                            AND P.PALLET_CONTROLADO = '0')
                INSERT INTO PICKING(DOCUMENTO_ID, NRO_LINEA, CLIENTE_ID, PRODUCTO_ID, VIAJE_ID, TIPO_CAJA, DESCRIPCION, CANTIDAD, NAVE_COD, 
                POSICION_COD, RUTA, PROP1, FECHA_INICIO, FECHA_FIN, USUARIO, CANT_CONFIRMADA, PALLET_PICKING, SALTO_PICKING, PALLET_CONTROLADO, 
                USUARIO_CONTROL_PICK, ST_ETIQUETAS, ST_CAMION, FACTURADO, FIN_PICKING, ST_CONTROL_EXP, FECHA_CONTROL_PALLET, 
                TERMINAL_CONTROL_PALLET, FECHA_CONTROL_EXP, USUARIO_CONTROL_EXP, TERMINAL_CONTROL_EXP, FECHA_CONTROL_FAC, USUARIO_CONTROL_FAC, 
                TERMINAL_CONTROL_FAC, VEHICULO_ID, PALLET_COMPLETO, HIJO, QTY_CONTROLADO, PALLET_FINAL, PALLET_CERRADO, USUARIO_PF, TERMINAL_PF, 
                REMITO_IMPRESO, NRO_REMITO_PF, PICKING_ID_REF, BULTOS_CONTROLADOS, BULTOS_NO_CONTROLADOS, FLG_PALLET_HOMBRE, TRANSF_TERMINADA,NRO_LOTE,NRO_PARTIDA,NRO_SERIE)
                SELECT DOCUMENTO_ID, NRO_LINEA, CLIENTE_ID, PRODUCTO_ID, VIAJE_ID, TIPO_CAJA, DESCRIPCION, CANTIDAD, NAVE_COD, POSICION_COD, 
                RUTA, PROP1, FECHA_INICIO, FECHA_FIN, USUARIO, CANT_CONFIRMADA, PALLET_PICKING, SALTO_PICKING, PALLET_CONTROLADO, USUARIO_CONTROL_PICK, 
                ST_ETIQUETAS, ST_CAMION, FACTURADO, FIN_PICKING, ST_CONTROL_EXP, FECHA_CONTROL_PALLET, TERMINAL_CONTROL_PALLET, FECHA_CONTROL_EXP, 
                USUARIO_CONTROL_EXP, TERMINAL_CONTROL_EXP, FECHA_CONTROL_FAC, USUARIO_CONTROL_FAC, TERMINAL_CONTROL_FAC, VEHICULO_ID, PALLET_COMPLETO, 
                HIJO, QTY_CONTROLADO, PALLET_FINAL, PALLET_CERRADO, USUARIO_PF, TERMINAL_PF, REMITO_IMPRESO, NRO_REMITO_PF, PICKING_ID_REF, 
                BULTOS_CONTROLADOS, BULTOS_NO_CONTROLADOS, FLG_PALLET_HOMBRE, TRANSF_TERMINADA,NRO_LOTE,NRO_PARTIDA,NRO_SERIE
                FROM TMP_EMPAQUE_CONTENEDORA
                WHERE NRO_LINEA = @NRO_LINEA AND CLIENTE_ID = @CLIENTE_ID 
                AND NRO_REMITO = @PEDIDO_ID AND PRODUCTO_ID = @PRODUCTO_ID 
                AND PALLET_PICKING = @NRO_CONTENEDORA AND PALLET_CONTROLADO = '0'
            ELSE
                UPDATE PICKING
                SET CANTIDAD = TMP.CANTIDAD,
                    CANT_CONFIRMADA = TMP.CANT_CONFIRMADA
                FROM TMP_EMPAQUE_CONTENEDORA TMP 
                WHERE TMP.NRO_LINEA = @NRO_LINEA AND TMP.CLIENTE_ID = @CLIENTE_ID 
                AND TMP.NRO_REMITO = @PEDIDO_ID AND TMP.PRODUCTO_ID = @PRODUCTO_ID 
                AND PICKING.PICKING_ID = TMP.PICKING_ID AND PICKING.PALLET_PICKING = TMP.PALLET_PICKING
                AND PICKING.PALLET_CONTROLADO = '0'
        
            FETCH cur_linea
            INTO @NRO_LINEA, @CANT_CONFIRMADA
        END
    
    CLOSE cur_linea 
    DEALLOCATE cur_linea
    
    DELETE TMP_EMPAQUE_CONTENEDORA WHERE CLIENTE_ID = @CLIENTE_ID AND NRO_REMITO = @PEDIDO_ID AND PRODUCTO_ID = @PRODUCTO_ID AND ISNULL(NRO_LOTE,'') = ISNULL(@NRO_LOTE,'') AND ISNULL(NRO_PARTIDA,'') = ISNULL(@NRO_PARTIDA,'') AND ISNULL(NRO_SERIE,'') = ISNULL(@NRO_SERIE,'')

END
