ALTER   procedure [dbo].[Get_PickingByViaje]
	@Viaje_id		as Varchar(100) output
As	
Begin
	Declare @Usuario 	as varchar(20)
	Declare @sString	as varchar (200) 
	
	Select	@Usuario=Usuario_Id
	From	#temp_usuario_loggin

	SELECT 	SP.VIAJE_ID													AS [CODIGO VIAJE]
			,dbo.CLIENTE_VIAJERUTA(SP.VIAJE_ID,SP.RUTA) 				AS [CADENA_CLIENTE]
			,SP.PRODUCTO_ID												AS [PRODUCTO]
			,SP.DESCRIPCION												AS [DESCRIPCION]
			,SUM(SP.CANTIDAD)											AS [CANTIDAD]
			,SP.PROP1													AS [PALLET]
			,SP.POSICION_COD											AS [UBICACION]
			,SP.RUTA													AS [RUTA]
			,SP.TIPO_CAJA												AS [TIPO CAJA]
			,CAST(DAY(Dd.Fecha_Vencimiento)		AS VARCHAR(2)) 
				+'/'+ CAST(MONTH(Dd.Fecha_Vencimiento)	AS VARCHAR(2)) 
				+'/'+CAST(YEAR(Dd.Fecha_Vencimiento)	AS VARCHAR(4)) 	AS [FECHA VTO]
			,SPV.PRIORIDAD												AS [PRIORIDAD]
			,@Usuario													AS [USUARIO]
			,HOST_NAME()												AS [TERMINAL]
			,CAST(DAY(GETDATE())AS VARCHAR(2)) 
			+'/'+ CAST(MONTH(GETDATE()) AS VARCHAR(2)) 
			+'/'+CAST(YEAR(GETDATE()) AS VARCHAR(4)) 					AS [FECHA]
	FROM	PICKING SP (nolock)
			left JOIN PRIORIDAD_VIAJE SPV	(nolock) ON(LTRIM(RTRIM(UPPER(SPV.VIAJE_ID)))=LTRIM(RTRIM(UPPER(SP.VIAJE_ID))))
			INNER JOIN PRODUCTO PROD		(nolock) ON(PROD.CLIENTE_ID=SP.CLIENTE_ID AND PROD.PRODUCTO_ID=SP.PRODUCTO_ID)
			INNER JOIN DET_DOCUMENTO DD		(nolock) ON(SP.DOCUMENTO_ID=DD.DOCUMENTO_ID AND DD.NRO_LINEA=SP.NRO_LINEA)
			LEFT JOIN POSICION POS			(nolock) ON(POS.POSICION_COD=SP.POSICION_COD)
			LEFT JOIN NAVE NAV				(nolock) ON(SP.POSICION_COD=NAV.NAVE_COD)
	WHERE	LTRIM(RTRIM(UPPER(SP.VIAJE_ID)))=UPPER(LTRIM(RTRIM(@Viaje_id)))
	GROUP BY	
			 SP.VIAJE_ID ,SP.PRODUCTO_ID
			,SP.DESCRIPCION ,SP.RUTA
			,SP.POSICION_COD ,SP.TIPO_CAJA
			,SP.PROP1 ,PROD.UNIDAD_ID ,DD.FECHA_VENCIMIENTO
			,SPV.PRIORIDAD ,POS.ORDEN_PICKING
	ORDER BY	
			SP.RUTA, CAST(ISNULL(SP.TIPO_CAJA,0) AS NUMERIC(10,1)) DESC,POS.ORDEN_PICKING, SP.POSICION_COD, SP.PRODUCTO_ID
		
End
