
ALTER PROCEDURE [dbo].[SOLICITA_MAND]
	@CLIENTE_ID	VARCHAR(15),
	@PRODUCTO_ID	VARCHAR(30),
	@LOTE_PROV	CHAR(1) OUTPUT,
	@FVTO			CHAR(1) OUTPUT
AS
BEGIN
	DECLARE @CONT	SMALLINT

	SELECT	@CONT=ISNULL(ingLoteProveedor,0)
	FROM	PRODUCTO 
	WHERE	CLIENTE_ID=@CLIENTE_ID
			AND PRODUCTO_ID=@PRODUCTO_ID;
			
	IF @CONT=1
	BEGIN
		SET @LOTE_PROV='1'
	END
	ELSE
	BEGIN
		SET @LOTE_PROV='0'
	END

	SET @CONT=NULL

	SELECT 	@CONT=COUNT(*)
	FROM 	MANDATORIO_PRODUCTO 
	WHERE 	CLIENTE_ID=@CLIENTE_ID
			AND PRODUCTO_ID=@PRODUCTO_ID
			AND TIPO_OPERACION ='ING'
			AND CAMPO='FECHA_VENCIMIENTO'
	IF @CONT=1
	BEGIN
		SET @FVTO='1'
	END
	ELSE
	BEGIN
		SET @FVTO='0'
	END
						

END
