CREATE PROCEDURE [dbo].[RPT_SERIES_EGRESADAS]
	@CLIENTE_ID		VARCHAR(15)		OUTPUT,
	@PRODUCTO_ID	VARCHAR(30)		OUTPUT,
	@SUCURSAL_ID	VARCHAR(20) 	OUTPUT,
	@CODVIAJE		VARCHAR(100)	OUTPUT,
	@CODPEDIDO		VARCHAR(30)		OUTPUT,
	@NRO_SERIE		VARCHAR(50)		OUTPUT,
	@NRO_LOTE		VARCHAR(50)		OUTPUT,
	@NRO_PARTIDA	VARCHAR(50)		OUTPUT,
	@NRO_BULTO		VARCHAR(50)		OUTPUT
		
AS
BEGIN
	
	SELECT	D.FECHA_FIN_GTW			AS [FECHA_EGRESO]
			,C.RAZON_SOCIAL			AS [CLIENTE]
			,P.VIAJE_ID				AS [OLA_PEDIDO]
			,D.NRO_REMITO			AS [PEDIDO_EGRESO]
			,S.NOMBRE				AS [DESTINO]
			,P.PRODUCTO_ID			AS [PRODUCTO]
			,P.DESCRIPCION			AS [DESCRIPCION_PRODUCTO]
			,P.NRO_SERIE
			,P.NRO_LOTE
			,P.NRO_PARTIDA
			,DD.NRO_BULTO
			,GETDATE()				AS [FECHA_RPT]
			,HOST_NAME()			AS [TERMINAL_RPT]

	FROM VPICKING P 
		INNER JOIN VDOCUMENTO D (NOLOCK)		ON (D.DOCUMENTO_ID = P.DOCUMENTO_ID AND D.CLIENTE_ID = P.CLIENTE_ID)
		INNER JOIN DET_DOCUMENTO DD (NOLOCK)	ON (D.DOCUMENTO_ID = DD.DOCUMENTO_ID AND D.CLIENTE_ID = DD.CLIENTE_ID
												AND P.PRODUCTO_ID = DD.PRODUCTO_ID AND P.NRO_LINEA = DD.NRO_LINEA)
		INNER JOIN SUCURSAL S (NOLOCK)			ON (D.SUCURSAL_DESTINO = S.SUCURSAL_ID AND D.CLIENTE_ID = S.CLIENTE_ID)
		INNER JOIN CLIENTE C (NOLOCK)			ON (D.CLIENTE_ID = C.CLIENTE_ID)
	
	WHERE 1=1
		AND P.NRO_SERIE <>''
		AND ((@CLIENTE_ID IS NULL) OR (P.CLIENTE_ID = @CLIENTE_ID))
		AND ((@PRODUCTO_ID IS NULL) OR (P.PRODUCTO_ID = @PRODUCTO_ID))
		AND ((@SUCURSAL_ID IS NULL) OR (D.SUCURSAL_DESTINO = @SUCURSAL_ID))
		AND ((@CODVIAJE IS NULL) OR (P.VIAJE_ID LIKE  '%'+ @CODPEDIDO +  '%'))
		AND ((@CODPEDIDO IS NULL) OR (D.NRO_REMITO LIKE  '%'+ @CODPEDIDO +  '%'))
		AND ((@NRO_SERIE IS NULL) OR (P.NRO_SERIE = @NRO_SERIE))
		AND ((@NRO_LOTE IS NULL) OR (P.NRO_LOTE = @NRO_LOTE))
		AND ((@NRO_PARTIDA IS NULL) OR (P.NRO_PARTIDA = @NRO_PARTIDA))
		AND ((@NRO_BULTO IS NULL) OR (DD.NRO_BULTO = @NRO_BULTO))

	ORDER BY 
		1,2,3,4,5,6
END


